{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/chkout">出库</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">入库</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" data-toggle="dropdown">其他</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:manageSku()"><i class="fas fa-leaf"></i>&nbsp;药材管理</a>
          <a class="dropdown-item" href="/invchk"><i class="fas fa-tasks"></i>&nbsp;盘点</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users"><i class="fas fa-user-cog"></i>&nbsp;用户管理</a>
        </div>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <div class="accordion" id="monthlyBills">
  </div>    
</div>
<script>
function manageSku() {
  $.get(`/sku?_probe=1`, function() {
    window.location.href = `/sku`
  })
}
function openBill(id) {
  $.get(`/chkin/${id}?_probe=1`, function() {
    window.location.href = `/chkin/${id}`
  })
}
function listBills(data) {
  $('#monthlyBills').empty()
  $.each(data.summary, function(i, s) {
    var ym = s.month.split('-')
    var show = (s.month == data.month) ? "show" : ""
    var card = `
    <div class="card">
      <div class="card-header" style="padding-left:0" id="h${i}">
        <h2 class="mb-0">
          <button class="btn btn-link text-left" type="button" onclick="fetchBillSummary('${s.month}')">
            ${ym[0]}年${ym[1]}月 &nbsp; ${s.count}单
          </button>
          <button class="btn btn-success" type="button" onclick="openBill('')" 
            style="_NEWBILL_">新建入库单</button>
        </h2>
      </div>
      <div id="c${i}" class="collapse ${show}" data-parent="#monthlyBills">
        <div class="card-body" style="padding:0">_BILLLIST_</div>
      </div>
    </div>`
    var newb = "display:none"
    if (i == 0) {
      newb = "float:right"
    }
    card = card.replace(/_NEWBILL_/, newb)
    var list = ""
    if (show && data.list.length > 0) {
      list = `
      <table class="table table-striped table-hover">
        <thead class="thead-light"><tr>
          <th>日期</th>
          <th>药材</th>
          <th>价值</th>
        </tr></thead><tbody>`
      $.each(data.list, function(_, b) {
        var t = new Date(b.updated)
        var clr = (b.status == 0) ? "red" : "black"
        var when = `${t.getMonth()+1}月${t.getDate()}日`
        list += `
          <tr style="color:${clr};cursor:pointer" onclick="openBill(${b.id})">
            <td>${when}</td>
            <td>${b.count}种</td>
            <td>${b.cost.toFixed(2)}元</td>
          </tr>`
      })
      list += "</tbody></table>"
    }
    card = card.replace(/_BILLLIST_/, list)
    $('#monthlyBills').append(card)
  })
}
function fetchBillSummary(month) {
  $.get(`/api/chkin?month=${month}`, function(e) {
    listBills(e)
  })
}
$(document).ready(function () {
  fetchBillSummary("")
})
</script>
{{template "footer"}} {{end}}