{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">货品入库</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/"><i class="fas fa-home"></i>&nbsp;返回主菜单</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <p style="margin-top:1rem;font-weight:bold">当前进货单概况</p>
  <p style="font-family: 'Courier New', Courier, monospace">
  {{range $stat, $bill := .Bills }}
    {{if eq $stat 1}}
      <a {{if gt (len $bill) 0}}href="javascript:listBills(1)"{{end}}>{{len $bill}}张</a>待提交&nbsp;
    {{else if eq $stat 2}}
      <a {{if gt (len $bill) 0}}href="javascript:listBills(2)"{{end}}>{{len $bill}}张</a>待收货&nbsp;
    {{else if eq $stat 3}}
      <a {{if gt (len $bill) 0}}href="javascript:listBills(3)"{{end}}>{{len $bill}}张</a>已入库&nbsp;
    {{end}}  
  {{end}}
  </p>
  <p>
    {{if gt (len .Bills) 0}}
    请点击上面的连接获取各状态进货单详情，或
    {{else}}
    0张待提交&nbsp; 0张待收货&nbsp; 0张已入库<br><br>
    {{end}}<a href="/chkin/">新建进货单</a>
  </p>
  <p id="blist"></p>
</div>
<script>
var data = {{.}}
function un(id) {
  for (i = 0; i < data.Users.length; i++) {
    if (data.Users[i].id == id) return data.Users[i].name
  }
  return `user#${id}`
}
function listBills(status) {
  var bs = data.Bills[status]
  var us = data.Users
  console.log(us)
  var st = ""
  switch(status) {
  case 1:
    st = "待提交"
    break
  case 2:
    st = "待收货"
    break
  case 3:
    st = "已入库"
  }
  $('#blist').text("")
  $('#blist').append(`<p style="margin-top:1rem;margin-bottom:0.6rem;font-weight:bold">${bs.length}张${st}进货单</p>`)
  $.each(bs, function(_, b) {
    $('#blist').append(`<div style="margin-top:0.4rem;font-family:'Courier New',
      Courier,monospace"><a href="#">[${b.updated.substring(0, 10)}] ${b.count}种货品，总价${b.amount}元</a></div>`)
  })
}
</script>
{{template "footer"}} {{end}}