{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">货品入库</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/"><i class="fas fa-home"></i>&nbsp;返回主菜单</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <p style="margin-top:1rem;font-weight:bold">当前入库单概况</p>
  <p style="font-family: 'Courier New', Courier, monospace">
  {{range $stat, $bill := . }}
    {{if gt (len $bill) 0 }}
      {{if eq $stat 1}}
        <a href="#">{{len $bill}}张</a>未提交 &nbsp;
      {{else if eq $stat 2}}
        <a href="#">{{len $bill}}张</a>待核价 &nbsp;
      {{else if eq $stat 3}}
        <a href="#">{{len $bill}}张</a>待收货 &nbsp;
      {{else if eq $stat 4}}
        <a href="#">{{len $bill}}张</a>已入库 &nbsp;
      {{end}}  
    {{end}}
  {{end}}
  </p>
  <p>
    {{if gt (len .) 0}}
    请点击上面的连接获取各状态入库单详情，或
    {{else}}
    0张未提交 &nbsp; 0张待核价 &nbsp; 0张待收货 &nbsp; 0张已入库<br><br>
    {{end}}<a href="#">创建新入库单</a>
  </p>
</div>
<script>
  $(document).ready(function () {
    //TODO
  })
</script>
{{template "footer"}} {{end}}