{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#" id="title"></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/chkin"><i class="fas fa-file-powerpoint"></i>&nbsp;进货单管理</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <input type="hidden" id="bid" />
  <input type="hidden" id="uid" />
  <div class="row" style="margin-bottom:1rem">
	<div class="col" style="padding-right:0">
	  <label for="creator">创建者</label>
	  <input type="text" readonly class="form-control" id="creator" />
	</div>
	<div class="col" style="padding-right:0">
	  <label for="status">状态</label>
	  <input type="text" readonly class="form-control" id="status" />
	</div>
	<div class="col">
	  <label>&nbsp;</label>
	  <div><button id="action" style="width:100%" class="btn btn-success"></button></div>  
	</div>
  </div>
  <div class="row" style="margin-bottom: 1rem">
	<div class="col col-3" style="padding-right:0">
	<label for="fee">附加费用</label>
	<input type="text" class="form-control" name="fee" value="0" />
	<small class="form-text text-muted">如运费等</small>
	</div>
	<div class="col col-9">
	<label for="memo">备注</label>
	<input type="text" class="form-control" name="memo" value="" />
	</div>
  </div>
  <div id="addItem" class="row" style="margin-bottom: 1rem">
	<div class="col col-9" style="padding-right:0">
      <label for="goods">添加货品</label>
      <input type="text" class="form-control" id="goods" placeholder="格式：品名 数量" />
      <small class="form-text text-muted">可以输入品名或其拼音索引</small>
	</div>
	<div class="col col-3">
	  <label>&nbsp;</label>
	  <div>
	    <input style="width:100%" type=button onclick="addGoods()" class="btn btn-success" value="添加" />
	  </div>
	</div>
  </div>
  <p id="choice" style="display:none;padding:1rem 0.3rem 0.1rem 0.8rem;background:#eeeeee;border-radius:0.6rem"></p>
  <p id="cart"></p>
</div>
<script>
var arg = {{.}}
function addGoods() {
	var spec = $('#goods').val().trim().split(/\s+/)
	if (spec.length != 2) {
		toast("输入错误", "示例: “甘草 500”表示“500克甘草”", "warning")
		return
	}
	var item = spec[0]
	var cnt = parseInt(spec[1])
	if (isNaN(cnt) || (cnt <= 0)) {
		toast("输入错误", "数量不是一个正整数", "warning")
		return
	}
	var id = $('#bid').val()
	$('#choice').empty()
	$('#cart').empty()
	$.post(`/api/bom/${id}`, {item:item, count:cnt}, function(e) {
		console.log(e)
	})
	/*
	$.get('/api/goods', {type: 1, terms: goods}, function(e) {
		$('#goods').val('')
		$.each(e, function(name, goods) {
			switch(goods.length) {
			case 0:
				$('#choice').append(`<p><span style='color:red'>${name}</span> 没有找到</p>`)
				break
			case 1:
			    $('#cart').append(`<a href="#">${goods[0].name}</a>&nbsp; `)
				break
			default:
				var choice = `<p><span style="color:red">${name}</span> 是指`
    			$.each(goods, function(i, g) {
					choice += ` &nbsp;<a href="#">${g.name}</a>&nbsp; `
					if(i < goods.length-1) choice += '还是'
				})
				choice += '?'
			    $('#choice').append(choice)
			}
		})
		if ($('#choice').is(':empty')) {
		    $('#choice').css('display', 'none')
		} else { 
		    $('#choice').css('display', '')
		}
		if (!$('#cart').is(':empty')) {
			$('#cart').prepend('<p style="font-weight:bold"><u>购物车</u></p>')
			$('#cart').append('<p style="margin-top:1rem;color:#555555">请点击品名更改采购数量</p>')
		}
	})
	*/
}
function getBillInfo() {
  var bid = $('#bid').val()
  $.get(`/api/bom/${bid}`, function(e) {
	$('#creator').val(e.user)
	$('#status').val('&nbsp;')	
	$('#action').text('&nbsp;')
	$('#action').prop('disabled', false)
	switch (e.bill.status) {
    case 1:
	  $('#status').val('待提交')
	  $('#action').text('提交')
	  break
	case 2:
	  $('#status').val('待收货')	
      $('#action').text('收货')
	  break
	case 3:
	  $('#stauts').val('已完成')
	  //fallthrough
	default:
	  $('#action').prop('disabled', true)
	}
	$('#cart').empty()
	if (e.items.length > 0) {
	  $('#cart').append('<p style="font-weight:bold"><u>货品清单</u></p>')
	  $.each(e.items, function(_, item) {
		$('#cart').append(`<a href="#">${item.gname} ${item.count}克</a>&nbsp; `)
	  })
	  $('#cart').append('<p style="margin-top:1rem;color:#555555">点击品名可更改采购数量或删除之</p>')
	}
  })
}

$(document).ready(function () {
  $('#uid').val(arg.user.id)
  if (arg.bill == 0) {
	$('#title').text('新建进货单')
	$('#creator').text(arg.user.name)
	$('#status').val('待提交')
	$('#action').text('提交')
	$('#bid').val(0)
	$('#creator').val(arg.user.name)
  } else {
	$('#title').text('编辑进货单')
	$('#bid').val(arg.bill)
	getBillInfo()
  }
  //OTHER setup tasks...
  $('#goods').on('keypress', function (e) {
    if (e.which === 13) addGoods()
  })
})
</script>
{{template "footer"}} {{end}}