{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#" id="title"></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/chkin"><i class="fas fa-file-powerpoint"></i>&nbsp;进货单管理</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <input type="hidden" id="bid" />
  <input type="hidden" id="uid" />
  <div class="row" style="margin-bottom:0.8rem">
	<div class="col col-3" style="padding-right:0">
	  <label for="creator"><b>创建者</b></label>
	  <input type="text" readonly class="form-control" id="creator" />
	</div>
	<div class="col col-9">
	  <label for="fee"><b>备注</b></label>
	  <input type="text" class="form-control" id="memo" value="0" />
	</div>	
  </div>
  <div class="card border-success">
	<div class="card-header">
	  <div class="row">
		<div class="col"><b>货品清单</b></div>
		<div class="op col">
		  <i class="fas fa-cog float-right" style="padding-top:0.25rem" data-toggle="dropdown"></i>
		  <div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" href="#" id="viewstyle" value="0" onclick="switchVS()">切换为表格显示</a>
			<a class="dropdown-item" href="#" id="sortorder" value="0" onclick="switchSO()">切换为拼音排序</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#" id="docheckin" value="0" onclick="switchCI()">到货入库</a>
		  </div>
		</div>  
	  </div>
	</div>
	<div class="card-body">
	  <div class="row" style="margin-bottom: 1rem">
	    <div class="col col-9">
	      <input type="text" class="form-control" id="goods" placeholder="格式：品名 数量" />
	      <small class="form-text text-muted">可以输入品名或其拼音索引</small>
	    </div>
	    <div class="col col-3" style="padding-left:0">
          <input style="width:100%" type=button id="act" onclick="addGoods()" class="btn btn-success" value="添  加" />
	    </div>
	  </div>
	  <p id="choice" style="display:none;padding:1rem 0.3rem 0.1rem 0.8rem;background:#eeeeee;border-radius:0.6rem"></p>
	  <p id="summary" style="font-weight:bold;text-decoration:underline"></p>
	  <p id="cart"></p>
	  <p id="wait"></p>
	  <p id="wip"></p>
	  <p id="done"></p>
	  <p id="chkin" style="display:none;text-align:center;margin-top:2rem">
		<button onclick="doneCheckIn()" class="btn btn-info">&nbsp;完成入库&nbsp;</button>
	  </p>
	  <p id="finfo" class="mb-0 text-muted" style="font-size:small"></p>
	</div>
  </div>  
</div>
<div class="modal fade" id="editem" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">编辑条目</h5>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
	  <div class="modal-body">
	    <div class="form-group"><h4 id="gname"></h4></div>
	    <div class="form-group row">
		<div class="col">
		  <input type="text" class="form-control" id="count" />
		  <small class="form-text text-muted">数量（克）</small>
		</div>
		<div class="col">
		  <input type="text" class="form-control" id="price" />
		  <small class="form-text text-muted">价格（元/克）</small>
		</div>
	    </div>
	    <div class="modal-footer" style="padding-right:0">
		<button type="button" class="btn btn-danger" data-dismiss="modal">删 除</button>
		<button type="button" class="btn btn-success" data-dismiss="modal">保 存</button>
	    </div>
	  </div>
	</div>
  </div>
</div>
<script>
var arg = {{.}}
function editItem(gid) {
	$('#choice').css('display', 'none')
	$('#editem #gid').val(gid)
    $('#editem').modal('show')
}
function switchVS() {
	if($('#viewstyle').attr('value') == "0") {
	  $('#viewstyle').attr('value', '1')
	  $('#viewstyle').text('切换为普通显示')
	} else {
	  $('#viewstyle').attr('value', '0')
      $('#viewstyle').text('切换为表格显示')
	}
	getBillInfo()
}
function switchSO() {
	if($('#sortorder').attr('value') == "0") {
	  $('#sortorder').attr('value', '1')
	  $('#sortorder').text('切换为后录在前')
	} else {
	  $('#sortorder').attr('value', '0')
      $('#sortorder').text('切换为拼音排序')
	}
	getBillInfo()
}
function switchCI() {
	switch($('#docheckin').attr('value')) {
	case "0":
      $('#docheckin').attr('value', '1')
	  $('#docheckin').text('暂停入库')
	  $('#act').val("入  库")
	  $('#act').removeClass('btn-success')
	  $('#act').addClass('btn-info')
	  break
	case "1":
	  $('#docheckin').attr('value', '0')
      $('#docheckin').text('到货入库')
	  $('#act').val('添  加')
	  $('#act').removeClass('btn-info')
	  $('#act').addClass('btn-success')
	  break
	case "2":
	  toast("错误", "尚有货品未设置价格，无法执行入库操作", "error")
	  return
	case "3":
      toast("错误", "该订单已经完成入库", "error")
	  return
	case "":
	  toast("错误", "没有添加货品，无法执行入库操作", "error")
	  return
	}
	getBillInfo()
}
function pick(item, cnt) {
	var name = $(item).text()
	$('#goods').val(`${name} ${cnt}`)
	addGoods()
}
function addGoods() {
	var spec = $('#goods').val().trim().split(/\s+/)
	if (spec.length != 2) {
		toast("输入错误", "示例: “甘草 500”表示“500克甘草”", "warning")
		return
	}
	var item = spec[0]
	var cnt = parseInt(spec[1])
	if (isNaN(cnt)) {
		toast("输入错误", "数量必须是整数", "warning")
		return
	}
	$('#choice').empty()
	var memo = $('#memo').val()
	var id = $('#bid').val()
	var ci = $('#docheckin').attr('value')
	if (ci == 1) {
		$.post(`/api/chkin/${id}`, {item:item,confirm:cnt}, function(e) {
		  switch (e.item.length) {
		  case 0:
    	    $('#choice').append(`<p><span style='color:red'>${item}</span> 没有找到</p>`)
		    break
		  case 1:
            if (e.count < 0) 
              $('#choice').append(`<p><span style='color:red'>${e.item[0]}</span> 入库数量多了${-e.count}克</p>`)
            break
		  default:
			var choice = `<p><span style="color:red">${item}</span> 是指`
			$.each(e.item, function(i, it) {
			  choice += ` &nbsp;<a onclick="pick(this, ${cnt})" href="#">${it}</a>&nbsp; `
			  if(i < e.item.length-1) choice += '还是'
			})
			choice += '?'
			$('#choice').append(choice)			  
		  }
		  getBillInfo()
		  if ($('#choice').is(':empty')) {
		    $('#choice').css('display', 'none')
		  } else { 
		    $('#choice').css('display', '')
		  }			  
		})
		return
	}
	if (cnt <= 0) {
      toast("输入错误", "数量必须大于0", "warning")
      return
	}
	$.post(`/api/chkin/${id}`, {item:item,request:cnt}, function(e) {
		switch (e.item.length) {
		case 0:
    	  $('#choice').append(`<p><span style='color:red'>${item}</span> 没有找到</p>`)
		  break
		case 1:
		  $('#bid').val(e.id)
		  if (e.count < 0) 
		    $('#choice').append(`<p><span style='color:red'>${e.item[0]}</span> 已经添加了</p>`)
		  break
		default:
    	  var choice = `<p><span style="color:red">${item}</span> 是指`
    	  $.each(e.item, function(i, it) {
		  	choice += ` &nbsp;<a onclick="pick(this, ${cnt})" href="#">${it}</a>&nbsp; `
		  	if(i < e.item.length-1) choice += '还是'
		  })
		  choice += '?'
		  $('#choice').append(choice)	
		}
		getBillInfo()
		if ($('#choice').is(':empty')) {
		    $('#choice').css('display', 'none')
		} else { 
		    $('#choice').css('display', '')
		}		
	})
}
function getBillInfo() {
  var bid = $('#bid').val()
  var so = $('#sortorder').attr('value')
  var vs = $('#viewstyle').attr('value')
  var ci = $('#docheckin').attr('value')
  $('#chkin').css('display', 'none')
  $('#act').attr("disabled", false)
  $('#goods').attr("disabled", false)
  $('#memo').attr("disabled", false)
  $('#finfo').text('')
  $.get(`/api/chkin/${bid}?order=${so}`, function(e) {
	if (e.bill.status == 1) {
		$('#title').text('进货单')
		ci = 3 //表示订单已经完成，checkin菜单不可再用
		$('#act').attr("disabled", true)
		$('#goods').attr("disabled", true)
		$('#memo').attr("disabled", true)
		var upd = new Date(e.bill.updated)
		$('#finfo').text(`完成时间：${upd.toLocaleString()}`)
	}
	$('#goods').val('')
	$('#creator').val(e.user)
	$('#memo').val(e.bill.memo)
	$('#cart').empty()
	$('#wait').empty()
	$('#wip').empty()
	$('#done').empty()
	$('#summary').text('')
	if (e.items != null && e.items.length > 0) {
	  if (ci != "1") {
		if (ci != 3) ci = "0"
		$('#summary').text(`${e.bill.count}种货品，总价${e.bill.cost}元`)
		switch (vs) {
	    case "0":
	      $.each(e.items, function(_, item) {
			if (e.bill.status == 0) {
			  var bg =  'white'
              if (item.cost == 0) {
            	  bg = 'lightpink'
            	  ci = '2'
              }
              $('#cart').append(`<a style="background:${bg}" href="#" onclick="editItem(${item.gid})"
                >${item.gname} ${item.request}克</a> &nbsp; `)
			} else {
			  $('#cart').append(`${item.gname} ${item.request}克 &nbsp; `)  
			}
	      })
	      break
	    case "1":
	      var tbl = `<table class="table table-sm table-hover">
	    	<thead class="thead-light"><tr><th>品名</th><th class="text-right">数量</th>
	    	<th class="text-right">单价</th><th class="text-right">总价</th></tr></thead><tbody>`
	      $.each(e.items, function(_, item) {
	        var total = item.cost * item.request
			var bg =  'white'
			var name = item.gname
			if (e.bill.status == 0) {
	          if (item.cost == 0) {
	            bg = 'lightpink'
	            ci = '2'
	          }
			  name = `<a href="#" onclick="editItem(${item.gid})">${name}</a>`
			}
	        tbl += `<tr style="background:${bg}"><td>${name}</td><td class="text-right"
			  >${item.request}</td><td class="text-right">${item.cost}</td><td class="text-right"
			  >${total}</td></tr>`
	      })
	      tbl += `</tbody></table>`
	      $('#cart').append(tbl)
	    }
	    $('#docheckin').attr('value', ci)
	  } else {
		$('#chkin').css('display', '')
		$.each(e.items, function(i, it) {
			if (it.confirm == 0) {
				$('#wait').append(`${it.gname} ${it.request}克 &nbsp; `)
			} else if (it.confirm == it.request) {
				$('#done').append(`${it.gname} ${it.request}克 &nbsp; `)
			} else {
				$('#wip').append(`${it.gname} ${it.request}克（入库${it.confirm}克） &nbsp; `)
			}
		})
		if (!$('#wait').is(':empty')) {
			$('#wait').prepend(`<p><b>未入库货品</b></p>`)
		}
		if (!$('#wip').is(':empty')) {
			$('#wip').prepend(`<p><b>正在入库货品</b></p>`)
		}
		if (!$('#done').is(':empty')) {
			$('#done').prepend(`<p><b>已入库货品</b></p>`)
		}
	  }
	} else {
	  $('#docheckin').attr('value', "")	
	}
  })
}
function doneCheckIn() {
	if (!$('#wait').is(':empty') || !$('#wip').is(':empty')) {
		toast('未全部入库', '请将所有货品入库，或返回修改订购信息', 'error')
		return
	}
	var bid = $('#bid').val()
	$.post(`/api/chkin/${bid}`, {status: 1}, function(e) {
		getBillInfo()
	})
}
$(document).ready(function () {
  $('#uid').val(arg.user.id)
  if (arg.bill == 0) {
	$('#title').text('新建进货单')
	$('#creator').text(arg.user.name)
	$('#bid').val(0)
	$('#creator').val(arg.user.name)
  } else {
	$('#title').text('编辑进货单')
	$('#bid').val(arg.bill)
  }
  getBillInfo()
  $('#goods').on('keypress', function (e) {
    if (e.which === 13) addGoods()
  })
  $('#editem').on('show.bs.modal', function(e) {
	var bid = $('#bid').val()
	var gid = $('#editem #gid').val()
	$.get(`/api/chkin/${bid}?item=${gid}`, function(e) {
		$('#editem #gname').text(e.gname)
		$('#editem #count').val(e.request)
		$('#editem #price').val(e.cost)
	})
  })
  $('#editem').on('hide.bs.modal', function (e) {
	var btn = $(document.activeElement)
	var bid = $('#bid').val()
	var gid = $('#editem #gid').val()
	var cnt = $('#editem #count').val()
	var price = $('#editem #price').val()
    if (btn.hasClass("btn-success")) {
      $.post(`/api/chkin/${bid}`, {gid:gid,cost:price,request:cnt}, function(e) {
		getBillInfo()
	  })
	}
	if (btn.hasClass("btn-danger")) {
		var bid = $('#bid').val()
		var gid = $('#editem #gid').val()
		$.ajax({
            url: `/api/chkin/${bid}/${gid}`,
            type: 'DELETE',
            complete: function(xhr) {
              if (xhr.status != 200)
                toast("操作失败", xhr.responseText, 'error')
			  else
			    getBillInfo() 
            }
        })
	}
  })
})
</script>
{{template "footer"}} {{end}}