{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#" id="title"></a>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="/chkout"><i class="fas fa-chevron-circle-left"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <input type="hidden" id="bid" />
  <input type="hidden" id="uid" />
  <div class="row">
    <div class="col" style="padding-right:0">
      <label for="requester"><b>需求方</b></label>
      <select class="form-control" id="requester"></select>
    </div>
    <div class="col" style="padding-right:0">
      <label for="fee"><b>其他费用</b></label>
      <div class="input-group" id="igfee">
        <input type="text" class="form-control" id="fee" placeholder="0" />
      </div>
      <small class="form-text text-muted">如运费、外配等</small>
    </div>    
    <div class="col">
      <label for="markup"><b>溢价率</b></label>
      <div class="input-group">
        <input type="text" class="form-control border-right-0" id="markup" placeholder="30">
        <div class="input-group-append" id="chgm">
          <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="memo"><b>备注</b></label>
      <div style="position:relative">
        <textarea class="form-control" id="memo" spellcheck="false" style="height:33px;resize:none"></textarea>
        <button id="setm" onclick="submitMemo()" style="display:none;position:absolute;top:0;right:0" class="btn btn-success">
          <i class="fas fa-check"></i>
        </button>
      </div>
    </div>
  </div>    
  <div class="card border-success">
    <div class="card-header">
      <div class="row">
        <div class="col"><b>药材清单</b></div>
        <div class="op col">
          <i class="fas fa-cog float-right" style="padding-top:0.25rem" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" id="sortorder" value="0" onclick="switchSO()">切换为拼音排序</a>
      	  </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row" style="margin-bottom: 1rem">
        <div class="col col-9">
          <input type="text" class="form-control" id="goods" placeholder="格式：品名 数量" />
          <small class="form-text text-muted">可以输入品名或其拼音索引</small>
        </div>
        <div class="col col-3" style="padding-left:0">
          <input style="width:100%" type=button id="act" onclick="addGoods()" class="btn btn-success" value="添加" />
        </div>
      </div>
      <p id="choice" style="display:none;padding:1rem 0.3rem 0.1rem 0.8rem;background:#eeeeee;border-radius:0.6rem"></p>
      <p id="summary" style="font-weight:bold">
        <span id="itemcount"></span> 种药材，每剂成本
        <span id="setprice"></span> 元，抓 <span id="sets"></span> 剂，共计
        <span id="charge"></span> 元
      </p>
      <p id="cart"></p>
      <p id="chkout" style="text-align:center;margin-top:2rem">
        <button onclick="doneCheckOut()" class="btn btn-success">&nbsp;完成出库&nbsp;</button>
      </p>
      <div id='extbuy' style="display:none">
        <p><b><u>需外购药材清单</u></b></p>
        <p id="xbitems"></p>
      </div>
      <p id="finfo" class="mb-0 text-muted" style="font-size:small"></p>
    </div>
  </div>
</div>
<div class="modal fade" id="editem" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">编辑条目</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group"><h4 id="gname"></h4></div>
        <div class="form-group row">
          <div class="col">
			      <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">数量（克）</div>
              </div>
              <input type="text" class="form-control" id="count">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding-right:0">
          <button type="button" class="btn btn-danger" data-dismiss="modal">删 除</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">保 存</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edsets" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">设置剂数</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group"><h4 id="gname"></h4></div>
          <div class="form-group row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">剂数</div>
                </div>
                <input type="text" class="form-control" id="sets">
              </div>
            </div>
          </div>
          <div class="modal-footer" style="padding-right:0;padding-bottom:0">
            <button type="button" class="btn btn-success" data-dismiss="modal">保 存</button>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="modal fade" id="cfmdone" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">确认出库</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>出库完成后条目不能再更改（但可以修改费用和备注等）</p>
          <div class="modal-footer" style="padding-right:0;padding-bottom:0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取 消</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">完 成</button>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
var arg = {{.}}
var bill //从服务器读取的bill详情
function doneCheckOut() {
  $('#cfmdone').modal('show')
}
function editItem(gid, gname, count) {
	$('#choice').css('display', 'none')
	$('#editem #gid').val(gid)
	$('#editem #gname').text(gname)
	$('#editem #count').val(count)
    $('#editem').modal('show')
}
function editSets() {
    $('#edsets #sets').val($('#sets').text())
    $('#edsets').modal('show')
}
function switchSO() {
    if($('#sortorder').attr('value') == "0") {
      $('#sortorder').attr('value', '1')
      $('#sortorder').text('切换为后录在前')
    } else {
      $('#sortorder').attr('value', '0')
      $('#sortorder').text('切换为拼音排序')
    }
    getBillInfo()
}
function revertFee() {
    $('#fee').val($('#fee').attr('old'))
    $('#chgf').remove()
}
function submitFee() {
  var id = $('#bid').val()
  $.post(`/api/set/${id}`, {key: "fee", val: $('#fee').val()}, function(e) {
		getBillInfo()
	})
  $('#chgf').remove()
}
function revertMarkup() {
    $('#markup').val($('#markup').attr('old'))
    $('#chgm').html(`<div class="input-group-text">%</div>`)
}
function submitMarkup() {
  var id = $('#bid').val()
  $.post(`/api/set/${id}`, {key: "markup", val: $('#markup').val()}, function(e) {
		getBillInfo()
	})
  $('#chgm').html(`<div class="input-group-text">%</div>`)
}
function setMemoHeight() {
  var memo = $('#memo')
  memo.css('overflow', 'hidden')
  memo.css('height', 0)
  var mh = memo.prop('scrollHeight')
  if (mh < 36) mh = 36
  memo.css('height', mh)
}
function pick(item, cnt) {
    var name = $(item).text()
    $('#goods').val(`${name} ${cnt}`)
    addGoods()
}
function addGoods() {
    var spec = $('#goods').val().trim().split(/\s+/)
    if (spec.length != 2) {
        toast("输入错误", "示例: “甘草 500”表示“500克甘草”", "warning")
        return
    }
    var item = spec[0]
    var cnt = parseInt(spec[1])
    if (isNaN(cnt)) {
        toast("输入错误", "数量必须是整数", "warning")
        return
    }
    $('#choice').empty()
    var memo = $('#memo').val()
    var id = $('#bid').val()
    if (cnt <= 0) {
      toast("输入错误", "数量必须大于0", "warning")
      return
    }
    $.post(`/chkout/item/${id}`, {item:item,request:cnt}, function(e) {
        switch (e.item.length) {
        case 0:
          $('#choice').append(`<p><span style='color:red'>${item}</span> 没有找到</p>`)
          break
        case 1:
          $('#bid').val(e.id)
          if (e.count < 0) 
            $('#choice').append(`<p><span style='color:red'>${e.item[0]}</span> 已经添加了</p>`)
          break
        default:
          var choice = `<p><span style="color:red">${item}</span> 是指`
          $.each(e.item, function(i, it) {
              choice += ` &nbsp;<a onclick="pick(this, ${cnt})" href="#">${it}</a>&nbsp; `
              if(i < e.item.length-1) choice += '还是'
          })
          choice += '?'
          $('#choice').append(choice)    
        }
        getBillInfo()
        if ($('#choice').is(':empty')) {
            $('#choice').css('display', 'none')
        } else { 
            $('#choice').css('display', '')
        }        
    })
}
function getBillInfo() {
  var bid = $('#bid').val()
  var so = $('#sortorder').attr('value')
  $('#act').attr("disabled", false)
  $('#goods').attr("disabled", false)
  $('#memo').attr("disabled", false)
  $('#finfo').text('')
  $('#chkout').css('display', 'none')
  $('#extbuy').css('display', 'none')
  $.get(`/api/get/${bid}?order=${so}`, function(e) {
    bill = e.bill
    if (bill.status == 0) {
      $('#chkout').css('display', '')
      $('#sets').html(`<a id="sets" onclick="editSets()" href="#">${bill.sets}</a>`)
    } else {
      $('#sets').text(bill.sets)
      var lack = []
      $.each(e.items, function(_, it) {
        var diff = it.request - it.confirm
        if (diff != 0) lack.push({"name": it.gname, "diff": diff*bill.sets})
      })
      if (lack.length > 0) {
        $('#xbitems').empty()
        $.each(lack, function(_, l) {
          $('#xbitems').append(`<span>${l["name"]} ${l["diff"]}克 &nbsp; </span>`)
        })
        $('#extbuy').css('display', '')
      }
      $('#act').attr("disabled", true)
      var upd = new Date(bill.updated)
      var st = (bill.status == 1) ? '完成' : '结账'
      $('#finfo').text(`${st}时间：${upd.toLocaleString()}`)
    }
    $('#requester').val(bill.user)
    $('#markup').val(bill.markup)
    $('#fee').val(bill.fee)
    $('#itemcount').text(bill.count)
    var markup = (100 + parseInt(bill.markup)) / 100
    var sp = bill.cost
    var charge = (sp * bill.sets) * markup + bill.fee
    $('#setprice').text(sp.toFixed(2))
    $('#charge').text(charge.toFixed(2))
  
    $('#goods').val('')
    $('#memo').val(bill.memo)
    $('#cart').empty()
    if (e.items != null && e.items.length > 0) {
      $.each(e.items, function(_, it) {
        var item = `${it.gname} ${it.request}克`
        var bg = "white"
        if (it.request != it.in_stock) {
          item = `${it.gname} ${it.in_stock}/${it.request}克`
          bg = "lightpink"
        }
        if (bill.status == 0) {
          $('#cart').append(`<a href="#" style="font-family:monospace;font-size:large;
            background:${bg}" onclick="editItem(${it.gid}, '${it.gname}', ${it.request})"
            >${item}</a> &nbsp; `)
        } else {
          $('#cart').append(`${it.gname} ${it.request}克 &nbsp; `)  
        }
      })
    }
  })
}
function submitMemo() {
  var id = $('#bid').val()
  var memo = $('#memo').val()
  $.post(`/api/set/${id}`, {key: "memo", val: memo}, function(e) {})
  $('#setm').css("display", "none")
}
$(document).ready(function () {
  $('#memo').focus(function(e) {
      $('#memo').attr('old', bill.memo)
  })
  $('#memo').keyup(function(e) {
    setMemoHeight()
    var old = $('#memo').attr('old')
    var txt = $('#memo').val().trim()
    $('#setm').css('display', 'none')
    if (e.which === 27) {
      $('#memo').val($('#memo').attr('old'))
      setMemoHeight()
      return
    }
    if (old == txt) return
    $('#setm').css('display', '')
    $('#setm').css('border-top-left-radius', 0)
    $('#setm').css('border-bottom-left-radius', 0)
    var bh = $('#memo').prop('scrollHeight')
    if (bh > 40) {
      bh = 36
      $('#setm').css('border-bottom-right-radius', 0)
    } else {
      $('#setm').css('border-bottom-right-radius', "0.25rem")
    }
    $('#setm').css('height', bh)
  })
  $('#markup').focus(function(e) {
      $('#markup').attr('old', $('#markup').val())
  })
  $('#markup').keyup(function(e) {
    var txt = $('#markup').val().trim()
    if (txt == '') {
      $('#chgm').html(`<div class="input-group-text">%</div>`)
      return
    }
    if (txt.match(/^\d+$/)) {
      $('#chgm').html(`<button onclick="submitMarkup()" class="btn btn-outline-success border-left-0 border" type="button">
        <i class="fas fa-check"></i></button>`)
    } else {
      $('#chgm').html(`<button onclick="revertMarkup()" class="btn btn-outline-danger border-left-0 border"
        type="button"><i class="fas fa-times"></i></button>`)
    }
  })
  $('#fee').focus(function(e) {
      $('#fee').attr('old', $('#fee').val())
  })
  $('#fee').keyup(function(e) {
    var txt = $('#fee').val().trim()
    if (txt == '') {
      $('#chgf').remove()
      return
    }
    var func = `revertFee()`
    var btncls = `danger`
    var btncap = `times`
    if (txt.match(/^\d+\.?\d*$/)) {
      func = `submitFee()`
      btncls = `success`
      btncap = `check`
    }
    var btn = `<div class="input-group-append" id="chgf"><button onclick="${func}"
      class="btn btn-outline-${btncls} border-left-0 border"type="button"><i
      class="fas fa-${btncap}"></i></button></div>`
    $('#chgf').remove()
    $('#igfee').append(btn)
  })
  setMemoHeight()
  $.each(arg.users, function(_, u) {
      $('#requester').append(`<option value="${u.id}">${u.name}</option>`)
  })
  $('#requester').change(function(e) {
      var id = $('#bid').val()
      $.post(`/api/set/${id}`, {key: "user", val: $('#requester').val()}, function(e) {})
  })
  $('#bid').val(Math.abs(arg.bill))
  if (arg.bill < 0) {
    $('#title').text('新建出货单')
  } else {
    $('#title').text('编辑出货单')
  }
  $('#goods').on('keypress', function (e) {
    if (e.which === 13) addGoods()
  })
  $('#edsets').on('shown.bs.modal', function (e) {
  	$('#edsets #sets').focus()
  	$('#edsets #sets').select()
  })
  $('#edsets').on('hide.bs.modal', function (e) {
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success")) {
  	  var bid = $('#bid').val()
      var sets = $('#edsets #sets').val()
      $.post(`/api/set/${bid}`, {key: "sets", val: sets}, function(e) {
        getBillInfo()
      })
    }
  })
  $('#editem').on('shown.bs.modal', function(e) {
	$('#editem #count').focus()
  	$('#editem #count').select()
  })
  $('#editem').on('hide.bs.modal', function(e) {
    var bid = $('#bid').val()
    var gid = $('#editem #gid').val()
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success")) {
      var cnt = $('#editem #count').val()  
      $.post(`/api/set/${bid}`, {key: "amount", val: `${gid},${cnt}`}, function(e) {
        getBillInfo()
      })
    } else if (btn.hasClass("btn-danger")) {
      $.post(`/api/set/${bid}`, {key: "amount", val: `${gid},0`}, function(e) {
        getBillInfo()
      })
    }
  })
  $('#cfmdone').on('hide.bs.modal', function(e) {
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success")) {
        var bid = $('#bid').val()
        $.post(`/api/set/${bid}`, {key: "stat", val: 1}, function(e) {
          getBillInfo()
        })
    }
  })
  getBillInfo()    
})
</script>
{{template "footer"}} {{end}}
