{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">药材出库</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/"><i class="fas fa-home"></i>&nbsp;返回主菜单</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <p style="margin-top:1rem;font-weight:bold">当前出货单概况</p>
  <p style="font-family: 'Courier New', Courier, monospace">
  {{range $stat, $bill := index . "bills" }}
    {{if eq $stat 0}}
    未出货：<a href="javascript:listBills('0')">{{len $bill}}张</a> &nbsp;
    {{else if eq $stat 1}}
    已出货：<a href="javascript:listBills('1')">{{len $bill}}张</a> &nbsp;
    {{else}}
    已收款：<a href="javascript:listBills('2')">{{len $bill}}张</a> &nbsp;
    {{end}}  
  {{end}}
  </p>
  <p>
    {{if gt (len (index . "bills")) 0}}
    请点击上面的连接获取各状态出货单详情，或
    {{else}}
    未出货：0张 &nbsp; 已出货：0张 &nbsp; 已收款：0张
    <br><br>
    {{end}}<a href="/chkout/">新建出货单</a>
  </p>
  <p id="blist"></p>    
</div>
<script>
var data = {{.}}
function un(id) {
  for (i = 0; i < data.users.length; i++) {
    if (data.users[i].id == id) return data.users[i].name
  }
  return `user#${id}`
}
function listBills(status) {
  var bs = data.bills[status]
  var us = data.users
  var st = ""
  switch(status) {
  case '0':
    st = "未出货"
    break
  case '1':
    st = "已出货"
    break
  default:
    st = "已付款"
  }
  $('#blist').text("")
  $('#blist').append(`<p style="margin-top:1rem;margin-bottom:0.6rem;font-weight:bold">${bs.length}张${st}</p>`)
  $.each(bs, function(_, b) {
    var markup = (100 + parseInt(b.markup)) / 100
    var sp = b.cost
    var charge = (sp * b.sets + b.fee) * markup
    var item = `<div style="margin-top:0.4rem;font-family:'Courier New',Courier,monospace">
      <a href="/chkout/${b.id}">[${b.updated.substring(0, 10)}] 给${un(b.user)}，总价${charge.toFixed(2)}元</a></div>`
    $('#blist').append(item)
  })
}
</script>
{{template "footer"}} {{end}}