{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#" id="title"></a>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="/chkout?user={{.user}}"><i class="fas fa-chevron-circle-left"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <input type="hidden" id="bid" />
  <input type="hidden" id="uid" />
  <div class="row" style="margin-right:0">
    <div class="col" style="padding-right:0">
      <label for="requester"><b>用户</b></label>
      <select class="form-control" id="requester"></select>
    </div>
    <div class="col" style="padding-right:0">
      <label for="fee"><b>其他费用</b></label>
      <div class="input-group" id="igfee">
        <input type="text" class="form-control" id="fee" placeholder="0" />
      </div>
      <small class="form-text text-muted">运费、外配等</small>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="memo"><b>备注</b></label>
      <div style="position:relative">
        <textarea class="form-control" id="memo" spellcheck="false" style="height:33px;resize:none"></textarea>
        <button id="setm" onclick="submitMemo()" style="display:none;position:absolute;top:0;right:0"
          class="btn btn-success">
          <i class="fas fa-check"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card border-success">
    <div class="card-header">
      <div class="row">
        <div class="col"><b>药材清单</b> <a style="color:black" target="_new" href="/rx/{{.bill}}">
          <i class="fas fa-copy"></i></a></div>
        <div class="op col">
          <i class="fas fa-cog float-right" style="padding-top:0.25rem" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" id="sortorder" value="0" onclick="switchSO()">切换为货架排序</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row" style="margin-bottom: 1rem">
        <div class="col col-9">
          <input type="text" class="form-control" id="goods" placeholder="例：薄荷 12（后下）..." />
          <small class="form-text text-muted">可以输入品名或其拼音索引</small>
        </div>
        <div class="col col-3" style="padding-left:0">
          <input style="width:100%" type=button id="act" onclick="addGoods()" class="btn btn-success" value="添加" />
        </div>
      </div>
      <p id="choice" style="display:none;padding:1rem 0.3rem 0.1rem 0.8rem;background:#eeeeee;border-radius:0.6rem"></p>
      <p id="summary" style="font-weight:bold">
        <span id="itemcount"></span> 种药材，每剂成本
        <span id="setprice"></span> 元，抓 <span id="sets"></span> 剂，共
        <span id="charge"></span> 元，包装袋费用<span id="packfee"></span>元，
        总计<span id="sigma" style="color:red"></span>元<span id="payamt"></span>
      </p>
      <p id="cart" style="font-family:monospace;font-size:large"></p>
      <div id="rxref" style="display:none">
        <p style="font-weight:bold">可直接选择下列方剂进行修改：</p>
      </div>
      <div id='extbuy' style="display:none">
        <p><b><u>需外购药材清单</u></b></p>
        <p id="xbitems" style="font-family:monospace;font-size:large"></p>
      </div>
      <div id="delivery" class="alert alert-success">
        <p><b><u>配送信息</u></b> <a id="setbol" href="#" onclick="setBOL()"><i class="fas fa-shipping-fast"></i> <span id="courier">{{.courier}}</span></a></p>
        <p id="addr">
        {{if .memo }}
          {{.memo}}（可<a href="javascript:setAddr()">点击此处</a>修改）
        {{else}}
          该用户未设置配送信息，可<a href="javascript:setAddr()">点击此处</a>设置。
        {{end}}
        </p>
      </div>
      <p style="text-align:center;margin-top:2rem">
        <button id="chkout" onclick="proceedCheckOut()" class="btn btn-success"></button>
      </p>
      <p id="finfo" class="mb-0 text-muted" style="font-size:small"></p>
    </div>
  </div>
</div>
<div class="modal fade" id="editem" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">编辑条目</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h4 id="gname"></h4>
        </div>
        <div class="form-group row">
          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">数量</div>
              </div>
              <input type="text" class="form-control" id="count">
              <div class="input-group-append">
                <div class="input-group-text">克</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">备注</div>
              </div>
              <input type="text" class="form-control" id="memo" placeholder="如：包煎、后下">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding-left:0;padding-right:0">
          <div class="form-check" style="flex:auto">
            <input class="form-check-input" type="checkbox" id="extra">
            <label class="form-check-label" for="extra" style="cursor:pointer">
              此药材自备
            </label>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">删 除</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">保 存</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edsets" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">设置剂数</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h4 id="gname"></h4>
        </div>
        <div class="form-group row">
          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">剂数</div>
              </div>
              <input type="text" class="form-control" id="sets">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding-right:0;padding-bottom:0">
          <button type="button" class="btn btn-success" data-dismiss="modal">保 存</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="paybill" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">订单支付</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h5>请输入实付金额</h5>
        </div>
        <div class="form-group row">
          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">&#x00A5</div>
              </div>
              <input type="text" class="form-control" id="paid">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding-right:0;padding-bottom:0">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cfmship" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">配送信息</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h5>请输入快递单号（包括快递公司名字）</h5>
        </div>
        <div class="form-group row">
          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">&numero;</div>
              </div>
              <input type="text" class="form-control" id="bol">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding-left:0;padding-right:0;padding-bottom:0">
          <div style="flex:auto" style="margin-left:0">
            <i class="fas fa-info-circle"></i> 如不知或无需记录单号可留空
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cfmlock" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">锁定库存</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>库存锁定后不能修改剂数或曾删改条目，但可以修改费用和备注等。</p>
        <div class="modal-footer" style="padding-right:0;padding-bottom:0">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
      location.reload(true)
    }
  }
  window.onunload = function() { $('#bid').val('') }
  var arg = {{.}}
  var bill //从服务器读取的bill详情
  function setBOL() {
    $('#cfmship #bol').val($('#courier').text())
    $('#cfmship').modal('show')
  }
  function setAddr() {
    window.open(`/users/${bill.user}`)
    $('#addr').html(`<span style="color:red">设置完成后请刷新本页面</span>`)
  }
  function proceedCheckOut() {
    switch(bill.status) {
    case 0:
      $('#cfmlock').modal('show')
      break
    case 1:
      var bid = $('#bid').val()
      $.post(`/api/set/${bid}`, { key: "ship" }, function (e) {
        getBillInfo()
      })
      break
    case 2:
      $('#paybill').modal('show')
    }
  }
  function payBill() {
    $('#paybill').modal('show')
  }
  function editItem(gid, gname, count, memo, extra) {
    $('#choice').css('display', 'none')
    $('#editem #gid').val(gid)
    $('#editem #gname').text(gname)
    $('#editem #count').val(count)
    $('#editem #memo').val(memo)
    $('#editem #extra').prop('checked', extra)
    $('#editem').modal('show')
  }
  function editSets() {
    $('#edsets #sets').val($('#sets').text())
    $('#edsets').modal('show')
  }
  function switchSO() {
    if ($('#sortorder').attr('value') == "0") {
      $('#sortorder').attr('value', '1')
      $('#sortorder').text('切换为后录在前')
    } else {
      $('#sortorder').attr('value', '0')
      $('#sortorder').text('切换为货架排序')
    }
    getBillInfo()
  }
  function revertFee() {
    $('#fee').val($('#fee').attr('old'))
    $('#chgf').remove()
  }
  function submitFee() {
    var id = $('#bid').val()
    $.post(`/api/set/${id}`, { key: "fee", val: $('#fee').val() }, function (e) {
      getBillInfo()
    })
    $('#chgf').remove()
  }
  function setMemoHeight() {
    var memo = $('#memo')
    memo.css('overflow', 'hidden')
    memo.css('height', 0)
    var mh = memo.prop('scrollHeight')
    if (mh < 36) mh = 36
    memo.css('height', mh)
  }
  function pick(ti, ii) {
    var t = $('body').data("rx_items")[ti]
    var ps = `${t.items[ii].name} ${t.weight}`
    if (t.memo != '') ps += `(${t.memo})`
    var g = $('#goods')
    g.val(`${g.val()} ${ps}`)
    if (!$('body').data('multi_rx'))
      addGoods() //当只有一个选项时，直接提交
  }
  function addGoods() {
    var rx = $('#goods').val().trim()
    $('#rxref').css("display", "none")
    $('#choice').empty()
    var memo = $('#memo').val()
    var id = $('#bid').val()
    $.post(`/chkout/item/${id}`, { rx: rx }, function (e) {
      $('body').data("rx_items", e.rx_items)
      var rxCnt = 0
      $.each(e.rx_items, function (ti, rx) {
        var len = 0
        if (rx.items) len = rx.items.length
        switch (len) {
          case 0:
            $('#choice').append(`<p><span style='color:red'>${rx.term}</span> 没有找到</p>`)
            break
          case 1:
            if (rx.weight < 0) {
              $('#choice').append(`<p><span style='color:red'>${rx.items[0].name}</span> 已经添加了</p>`)
            }
            break
          default:
            var choice = `<p><span style="color:red">${rx.term}</span> 是指`
            $.each(rx.items, function (ii, it) {
              choice += ` &nbsp;<a onclick="pick(${ti}, ${ii})" href="#">${it.name}</a>&nbsp; `
              if (ii < rx.items.length - 1) choice += '还是'
            })
            choice += '?'
            $('#choice').append(choice)
            rxCnt++
        }
      })
      $('body').data("multi_rx", rxCnt > 1)
      if (typeof (e.reference) != 'undefined' && e.reference != null && e.reference.length > 0) {
        $.each(e.reference, function (_, r) {
          $('#rxref').append(`<p><a href='/chkout/${id}?ref=${r.id}'>${r.name}</a>&nbsp; &nbsp;${r.items.join('、')}</p>`)
        })
        $('#rxref').css("display", "")
      }
      getBillInfo()
      if ($('#choice').is(':empty')) {
        $('#choice').css('display', 'none')
      } else {
        $('#choice').css('display', '')
      }
    })
  }
  function showExtBuy(sets, items) {
    var lack = []
    $.each(items, function (_, it) {
      var diff = it.request - it.confirm
      if (it.flag == 0 && diff != 0) lack.push({ "name": it.gname, "diff": diff * sets })
    })
    if (lack.length > 0) {
      $('#xbitems').empty()
      $.each(lack, function (_, l) {
        $('#xbitems').append(`<span>${l["name"]} ${l["diff"].toFixed(0)}克 &nbsp; </span>`)
      })
      $('#extbuy').css('display', '')
    }
  }
  function getBillInfo() {
    $('#fee').attr("disabled", false)
    $('#memo').attr("disabled", false)
    $('#requester').attr("disabled", false)
    $('#act').attr("disabled", true)
    $('#goods').val('')
    $('#payamt').text('')
    $('#finfo').text('')
    $('#chkout').css('display', '')
    $('#extbuy').css('display', 'none')
    $('#setbol').css({'pointer-events':'all', 'cursor':'pointer'})
    var bid = $('#bid').val()
    var so = $('#sortorder').attr('value')
    $.get(`/api/get/${bid}?order=${so}`, function (e) {
      bill = e.bill
      $('#courier').text(bill.courier)
      $('#memo').val(bill.memo)
      $('#requester').val(bill.user)
      $('#fee').val(bill.fee)
      $('#itemcount').text(bill.count)
      var markup = (100 + parseInt(bill.markup)) / 100
      var charge = (bill.cost * bill.sets) * markup + bill.fee
      var sigma = charge + bill.pack_fee
      $('#setprice').text(bill.cost.toFixed(2))
      $('#charge').text(charge.toFixed(2))
      $('#packfee').text(bill.pack_fee.toFixed(2))
      $('#sigma').text(sigma.toFixed(2))
      var sets = `<span>${bill.sets}</span>`
      switch(bill.status) {
      case 0: //编辑中
        $('#act').attr("disabled", false)
        sets = `<a id="sets" onclick="editSets()" href="#">${bill.sets}</a>`
        $('#chkout').text('锁定库存')
        break
      case 1: //库存锁定
        showExtBuy(bill.sets, e.items)
        $('#chkout').text('完成出库')
        break
      case 2: //出库完成
        showExtBuy(bill.sets, e.items)
        $('#chkout').text('结帐')
        break
      case 3: //已经收款
        $('#fee').attr("disabled", true)
        $('#memo').attr("disabled", true)
        $('#requester').attr("disabled", true)
        $('#setbol').css({'pointer-events':'none', 'cursor':'default'})
        showExtBuy(bill.sets, e.items)
        $('#chkout').css('display', 'none')
        var upd = new Date(bill.changed * 1000)
        $('#payamt').text(`（实收${bill.paid}元）`)
        $('#finfo').text(`结账时间：${upd.toLocaleString()}`)
      }
      $('#sets').html(sets)
      $('#cart').empty()
      if (e.items != null && e.items.length > 0) {
        $.each(e.items, function (_, it) {
          var total = it.in_stock
          var item = `${it.gname}&nbsp;`
		  var bg = "white"
          var extra = false
          if (it.flag != 0) {
            total = it.request * bill.sets
            extra = true
          } else if (Math.abs(it.request * bill.sets - it.in_stock) >= 0.1) {
            bg = "lightpink"
		  }
          item = `${item}${total}/${it.request}克`
          if (it.memo != "") item += `（${it.memo}）`
		  if (extra)
            item = `[自备]${item}`
		  else {
			if (it.rack != '') item = `[${it.rack}]${item}`
			if (it.cost == 0 && total != 0) 
			  item = `<span style="color:red">${item}</span>`
		  }
          if (bill.status == 0) {
            $('#cart').append(`<a href="#" style="background:${bg}" onclick="editItem(${it.gid},
            '${it.gname}', ${it.request}, '${it.memo}', ${extra})">${item}</a> &nbsp; `)
          } else {
            $('#cart').append(`<span style="background:${bg}">${item}</span> &nbsp; `)
          }
        })
      }
    })
  }
  function submitMemo() {
    var id = $('#bid').val()
    var memo = $('#memo').val()
    $.post(`/api/set/${id}`, { key: "memo", val: memo }, function (e) { })
    $('#setm').css("display", "none")
  }
  $(document).ready(function () {
    $('#memo').focus(function (e) {
      $('#memo').attr('old', bill.memo)
    })
    $('#memo').keyup(function (e) {
      setMemoHeight()
      var old = $('#memo').attr('old')
      var txt = $('#memo').val().trim()
      $('#setm').css('display', 'none')
      if (e.which === 27) {
        $('#memo').val($('#memo').attr('old'))
        setMemoHeight()
        return
      }
      if (old == txt) return
      $('#setm').css('display', '')
      $('#setm').css('border-top-left-radius', 0)
      $('#setm').css('border-bottom-left-radius', 0)
      var bh = $('#memo').prop('scrollHeight')
      if (bh > 40) {
        bh = 36
        $('#setm').css('border-bottom-right-radius', 0)
      } else {
        $('#setm').css('border-bottom-right-radius', "0.25rem")
      }
      $('#setm').css('height', bh)
    })
    $('#fee').focus(function (e) {
      $('#fee').attr('old', $('#fee').val())
    })
    $('#fee').keyup(function (e) {
      var txt = $('#fee').val().trim()
      if (txt == '') {
        $('#chgf').remove()
        return
      }
      var func = `revertFee()`
      var btncls = `danger`
      var btncap = `times`
      if (txt.match(/^\d+\.?\d*$/)) {
        func = `submitFee()`
        btncls = `success`
        btncap = `check`
      }
      var btn = `<div class="input-group-append" id="chgf"><button onclick="${func}"
      class="btn btn-outline-${btncls} border-left-0 border"type="button"><i
      class="fas fa-${btncap}"></i></button></div>`
      $('#chgf').remove()
      $('#igfee').append(btn)
    })
    setMemoHeight()
    $.each(arg.users, function (_, u) {
      $('#requester').append(`<option value="${u.id}">${u.name}</option>`)
    })
    $('#requester').change(function (e) {
      var id = $('#bid').val()
      $.post(`/api/set/${id}`, { key: "user", val: $('#requester').val() }, function (e) {
        getBillInfo()
      })
    })
    $('#bid').val(Math.abs(arg.bill))
    if (arg.bill < 0) {
      $('#title').text('新建出货单')
    } else {
      $('#title').text('编辑出货单')
    }
    $('#goods').on('keypress', function (e) {
      if (e.which === 13) addGoods()
    })
    $('#edsets').on('shown.bs.modal', function (e) {
      $('#edsets #sets').focus()
      $('#edsets #sets').select()
    })
    $('#edsets').on('hide.bs.modal', function (e) {
      var btn = $(document.activeElement)
      if (btn.hasClass("btn-success")) {
        var bid = $('#bid').val()
        var sets = $('#edsets #sets').val()
        $.post(`/api/set/${bid}`, { key: "sets", val: sets }, function (e) {
          getBillInfo()
        })
      }
    })
    $('#editem').on('shown.bs.modal', function (e) {
      $('#editem #count').focus()
      $('#editem #count').select()
    })
    $('#editem').on('hide.bs.modal', function (e) {
      var bid = $('#bid').val()
      var gid = $('#editem #gid').val()
      var btn = $(document.activeElement)
      if (btn.hasClass("btn-success")) {
        var cnt = $('#editem #count').val()
        var memo = $('#editem #memo').val()
        var ext = $('#editem #extra').is(':checked') ? 1 : 0
        $.post(`/api/set/${bid}`, { key: "amount", val: `${gid},${cnt},${ext}` }, function (e) {
          $.post(`/api/set/${bid}`, { key: "itememo", val: `${gid},${memo}` }, function (e) {
            getBillInfo()
          })
        })
      } else if (btn.hasClass("btn-danger")) {
        $.post(`/api/set/${bid}`, { key: "amount", val: `${gid},0,0` }, function (e) {
          getBillInfo()
        })
      }
    })
    $('#cfmlock').on('hide.bs.modal', function (e) {
      var btn = $(document.activeElement)
      if (btn.hasClass("btn-success")) {
        var bid = $('#bid').val()
        $.post(`/api/set/${bid}`, { key: "setinv" }, function (e) {
          getBillInfo()
        })
      }
    })
    $('#cfmship').on('hide.bs.modal', function (e) {
      var btn = $(document.activeElement)
      if (btn.hasClass("btn-success")) {
        var bid = $('#bid').val()
        var bol = $('#bol').val() //运单号
        $.post(`/api/set/${bid}`, { key: "ship", val: bol }, function (e) {
          getBillInfo()
        })
      }
    })
    $('#paybill').on('hide.bs.modal', function (e) {
      var btn = $(document.activeElement)
      if (btn.hasClass("btn-success")) {
        var bid = $('#bid').val()
        var pay = $('#paid').val()
        if (!pay.match(/^[+-]?\d+(\.\d+)?$/)) {
          toast("错误", "支付金额必须是数字", "error")
          return
        }
        $.post(`/api/set/${bid}`, { key: "paid", val: pay }, function (e) {
          var d = new Date(bill.updated)
          var month = '' + (d.getMonth() + 1)
          var year = d.getFullYear()
          if (month.length < 2) month = '0' + month;
          location.href = `/chkout?month=${year}-${month}`
        })
      }
    })
    getBillInfo()
  })
</script>
{{template "footer"}} {{end}}