{{define "body"}} {{template "header"}}
{{$wip := false}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">账目</a>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="/"><i class="fas fa-chevron-circle-left"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <div class="card">
    <div class="card-header bg-info" style="color:white;font-weight:bold"><i class="fas fa-recycle"></i>&nbsp进销存</div>
    <div class="card-body">
      TODO: 进货记录
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $.get("/api/finchk", function (e) {
      console.log(e)
    })
  })
</script>
{{template "footer"}} {{end}}