{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">出入库</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/chkout">出库</a>
          <a class="dropdown-item" href="/chkin">入库</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/inventory">盘点</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">统计</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">按人</a>
          <a class="dropdown-item" href="#">按货品</a>
        </div>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/sku"><i class="fas fa-list"></i>&nbsp;货品管理</a>
          <a class="dropdown-item" href="/users"><i class="fas fa-user-cog"></i>&nbsp;用户管理</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>        
    </ul>    
  </div>
</nav>
<div class="container" style="padding-top:1rem">
</div>
<script>
$(document).ready(function() {
  //TODO: application logic here
})
</script>
{{template "footer"}} {{end}}
