{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#" id="title"></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/invchk"><i class="fas fa-file-powerpoint"></i>&nbsp;盘点单管理</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <input type="hidden" id="bid" />
  <input type="hidden" id="uid" />
  <div class="row" style="margin-bottom:0.8rem">
	<div class="col col-3" style="padding-right:0">
	  <label for="creator"><b>创建者</b></label>
	  <input type="text" readonly class="form-control" id="creator" />
	</div>
	<div class="col col-9">
	  <label for="memo"><b>备注</b></label>
	  <div class="input-group" id="igmm">
		<input type="text" class="form-control" id="memo" value="0" />
	  </div>
	</div>
  </div>
  <div class="card border-success">
	<div class="card-header">
	  <div class="row">
		<div class="col"><b>药材清单</b></div>
		<div class="op col">
		  <i class="fas fa-cog float-right" style="padding-top:0.25rem" data-toggle="dropdown"></i>
		  <div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" href="#" id="viewstyle" value="0" onclick="switchVS()">切换为表格显示</a>
			<a class="dropdown-item" href="#" id="hidematch" value="0" onclick="switchHM()">仅显示盘有差异药材</a>
		  </div>
		</div>  
	  </div>
	</div>
	<div class="card-body">
	  <div class="row" style="margin-bottom: 1rem">
	    <div class="col col-9">
	      <input type="text" class="form-control" id="goods" placeholder="格式：品名 数量" />
	      <small class="form-text text-muted">可以输入品名或其拼音索引</small>
	    </div>
	    <div class="col col-3" style="padding-left:0">
          <input style="width:100%" type=button id="act" onclick="addGoods()" class="btn btn-success" value="盘  点" />
	    </div>
	  </div>
	  <p id="choice" style="display:none;padding:1rem 0.3rem 0.1rem 0.8rem;background:#eeeeee;border-radius:0.6rem"></p>
	  <p id="summary" style="font-weight:bold;text-decoration:underline"></p>
	  <p id="cart"></p>
	  <p style="text-align:center;margin-top:2rem">
		<button onclick="doneInvChk()" class="btn btn-success">&nbsp;完成盘点&nbsp;</button>
	  </p>	  
	  <p id="finfo" class="mb-0 text-muted" style="font-size:small"></p>
	</div>
  </div>  
</div>
<div class="modal fade" id="cfmdone" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
  	<div class="modal-content">
  	  <div class="modal-header">
  		<h5 class="modal-title">确认入库</h5>
  		<button type="button" class="close" data-dismiss="modal">&times;</button>
  	  </div>
  	  <div class="modal-body">
  		<p>某些药材的入库数量与订购量不符，如现在确认入库，将列出差异数量与金额。</p>
  		<div class="modal-footer" style="padding-right:0;padding-bottom:0">
  		  <button type="button" class="btn btn-secondary" data-dismiss="modal">取 消</button>
  		  <button type="button" class="btn btn-success" data-dismiss="modal">完 成</button>
  		</div>
  	  </div>
  	</div>
  </div>
</div>
<script>
var arg = {{.}}
function editItem(gid) {
	$('#choice').css('display', 'none')
	$('#editem #gid').val(gid)
    $('#editem').modal('show')
}
function switchVS() {
	if($('#viewstyle').attr('value') == "0") {
	  $('#viewstyle').attr('value', '1')
	  $('#viewstyle').text('切换为普通显示')
	} else {
	  $('#viewstyle').attr('value', '0')
      $('#viewstyle').text('切换为表格显示')
	}
	getBillInfo()
}
function switchHM() {
	if($('#hidematch').attr('value') == "0") {
	  $('#hidematch').attr('value', '1')
	  $('#hidematch').text('显示所有药材')
	} else {
	  $('#hidematch').attr('value', '0')
      $('#hidematch').text('仅显盘点有差异药材')
	}
	getBillInfo()
}
function pick(item, cnt) {
  var name = $(item).text()
  $('#goods').val(`${name} ${cnt}`)
  addGoods()
}
function addGoods() {
  var spec = $('#goods').val().trim().split(/\s+/)
  if (spec.length != 2) {
  	toast("输入错误", "示例: “甘草 500”表示“500克甘草”", "warning")
  	return
  }
  var item = spec[0]
  var cnt = parseInt(spec[1])
  if (isNaN(cnt) || cnt <= 0) {
  	toast("输入错误", "数量必须是正整数", "warning")
  	return
  }
  $('#choice').empty()
  var memo = $('#memo').val()
  var id = $('#bid').val()
  $.post(`/invchk/item/${id}`, {item:item,confirm:cnt}, function(e) {
    switch (e.item.length) {
  	case 0:
  	  $('#choice').append(`<p><span style='color:red'>${item}</span> 没有找到</p>`)
  	  break
  	case 1:
      break
  	default:
  	  var choice = `<p><span style="color:red">${item}</span> 是指`
  	  $.each(e.item, function(i, it) {
  	    choice += ` &nbsp;<a onclick="pick(this, ${cnt})" href="#">${it}</a>&nbsp; `
  	    if(i < e.item.length-1) choice += '还是'
  	  })
  	  choice += '?'
  	  $('#choice').append(choice)			  
    }
    getBillInfo()
    if ($('#choice').is(':empty')) {
      $('#choice').css('display', 'none')
    } else { 
      $('#choice').css('display', '')
    }			  
  })
}
function getBillInfo() {
  var bid = $('#bid').val()
  var vs = $('#viewstyle').attr('value')
  var hm = $('#hidematch').attr('value')
  $('#act').attr("disabled", false)
  $('#goods').attr("disabled", false)
  $('#memo').attr("disabled", false)
  $('#cart').empty()
  $('#finfo').text('')
  $.get(`/api/get/${bid}?order=1`, function(e) {
	$('#creator').val(e.user)
	switch(vs) {
	case "0":
	  $.each(e.items, function(_, it) {
		if (hm == '1' && it.request == it.confirm) return
	    var bg =  'white'
        if (hm == '0' && it.request != it.confirm) {
      	  bg = 'lightpink'
        }
		var cnt = `${it.request}克`
		if (it.confirm > 0 && it.confirm != it.request) cnt = `${it.confirm}/${cnt}`
        $('#cart').append(`<span style="background:${bg};font-family:monospace"
		  >${it.gname} ${cnt}</span> &nbsp; `)
	  })
	  break
	case "1":
	  var tbl = `<table class="table table-sm table-hover"><thead class="thead-light">
	    <tr><th>品名</th><th class="text-right">记录库存</th><th class="text-right">实际库存</th>
		</tr></thead><tbody>`
	  $.each(e.items, function(_, it) {
		if (hm == '1' && it.request == it.confirm) return
		var bg =  'white'
		if (hm == '0' && it.request != it.confirm) {
      	  bg = 'lightpink'
        }
		tbl += `<tr style="background:${bg}"><td>${it.gname}</td><td class="text-right"
			>${it.request}</td><td class="text-right">${it.confirm}</td></tr>`
	  })
	  tbl += `</tbody></table>`
	  $('#cart').append(tbl)
	}
  })
}
function submitMemo() {
  var id = $('#bid').val()
  var memo = $('#memo').val()
  $.post(`/chkin/memo/${id}`, {memo: memo}, function(e) {
	$('#memo').attr('old', memo)
  })
  $('#chgm').remove()
}
function setCheckInDone() {
	var bid = $('#bid').val()
	$.post(`/api/chkin/${bid}`, {status: 1}, function(e) {
		getBillInfo()
	})
}
function doneInvChk() {
	if (!$('#wait').is(':empty') || !$('#wip').is(':empty')) {
		$('#cfmdone').modal('show')
		return
	}
	setCheckInDone()
}
$(document).ready(function () {
  $('#uid').val(arg.user.id)
  $('#bid').val(Math.abs(arg.bill))
  if (arg.bill < 0) {
	$('#title').text('新建盘点单')
	$('#creator').val(arg.user.name)
  } else {
	$('#title').text('编辑盘点单')
  }
  getBillInfo()
  $('#goods').on('keypress', function (e) {
    if (e.which === 13) addGoods()
  })
  $('#memo').focus(function(e) {
      $('#memo').attr('old', $('#memo').val().trim())
  })
  $('#memo').keyup(function(e) {
	var old = $('#memo').attr('old')
	var txt = $('#memo').val().trim()
	$('#chgm').remove()
	if (e.which === 27) {
		$('#memo').val($('#memo').attr('old'))
		return
	}
	if (old == txt) return
	var btn = `<div class="input-group-append" id="chgm"><button onclick="submitMemo()"
        class="btn btn-outline-success border-left-0 border"type="button"><i
        class="fas fa-check"></i></button></div>`
    $('#igmm').append(btn)        
  })
  $('#cfmdone').on('hide.bs.modal', function(e) {
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success"))
		setCheckInDone()
  })
})
</script>
{{template "footer"}} {{end}}