{{define "body"}} {{template "header"}}
{{$wip := false}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">药材盘点</a>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="/"><i class="fas fa-chevron-circle-left"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <p style="margin-top:1rem;font-weight:bold">历史盘点记录</p>
  <p style="font-family: 'Courier New', Courier, monospace">
  {{range $stat, $bill := index . "bills" }}
    {{if eq $stat 0}}
    {{$wip = true}}
    盘点正在进行中，<a href="/invchk/{{(index $bill 0).ID}}">点击此处继续</a> &nbsp;
    {{else}}
    已完成：<a href="javascript:listBills('1')">{{len $bill}}张</a> &nbsp;
    {{end}}  
  {{end}}
  </p>
  <p>
    {{if gt (len (index . "bills")) 0}}
    请点击上面的连接获取各状态盘点详情
    {{if eq $wip false }}，或{{end}}
    {{else}}
    未完成：0张 &nbsp; 已完成：0张 &nbsp;
    <br><br>
    {{end}}{{if eq $wip false}}<a href="/invchk/">新建盘点</a>{{end}}
  </p>
  <p id="blist"></p>    
</div>
<script>
var data = {{.}}
function listBills(status) {
  var bs = data.bills[status]
  var us = data.users
  var st = ""
  switch(status) {
  case '0':
    st = "未完成"
    break
  default:
    st = "已完成"
  }
  $('#blist').text("")
  $('#blist').append(`<p style="margin-top:1rem;margin-bottom:0.6rem;font-weight:bold">${bs.length}张${st}</p>`)
  $.each(bs, function(_, b) {
    var item = `<div style="margin-top:0.4rem;font-family:'Courier New',Courier,monospace">
      <a href="/invchk/${b.id}">[${b.updated.substring(0, 10)}] ${b.count}种药材`
    if (typeof(b.cost) != 'undefined' && b.cost > 0) item += `，总价${b.cost}元`
    if (typeof(b.memo) != 'undefined' && b.memo.length > 0) item+= ` (${b.memo})`
    item += `</a></div>`
    $('#blist').append(item)
  })
}
</script>
{{template "footer"}} {{end}}