{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">库存盘点</a>
    <ul class="navbar-nav ml-auto">
	  <a class="nav-link" href="/invchk"><i class="fas fa-chevron-circle-left"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <input type="hidden" id="bid" />
  <input type="hidden" id="uid" />
  <div class="row" style="margin-bottom:0.8rem">
	<div class="col col-4" style="padding-right:0">
	  <label for="creator"><b>创建者</b></label>
	  <input type="text" readonly class="form-control" id="creator" />
	</div>
	<div class="col col-8">
	  <label for="memo"><b>备注</b></label>
	  <div class="input-group" id="igmm">
		<input type="text" class="form-control" id="memo" />
	  </div>
	</div>
  </div>
  <div class="card border-success">
	<div class="card-header">
	  <b>药材清单</b>
	</div>
	<div class="card-body">
	  <div class="row" style="margin-bottom: 1rem">
	    <div class="col col-9">
	      <input type="text" class="form-control" id="goods" placeholder="品名 数量..." />
	      <small class="form-text text-muted">可以输入药材名称或拼音索引</small>
	    </div>
	    <div class="col col-3" style="padding-left:0">
          <input style="width:100%" type=button id="act" onclick="addGoods()" class="btn btn-success" value="盘点" />
	    </div>
	  </div>
	  <p id="choice" style="display:none;padding:1rem 0.3rem 0.1rem 0.8rem;background:#eeeeee;border-radius:0.6rem"></p>
	  <p id="summary">
		<fieldset style="border: 1px groove #ddd !important;
		  padding: 0 1.4em 1.4em 1.4em !important;
		  margin: 0 0 1.5em 0 !important;
		  -webkit-box-shadow:  0px 0px 0px 0px #000;
		  box-shadow:  0px 0px 0px 0px #000;">
		  <legend style="width:inherit; font-weight:bold;
		  padding:0 10px;font-size: medium;
		  border-bottom:none;">盘点状态</legend>
		  盘点后数量显示为：<b>实际数量 / 记录数量</b>。
		  名称为<span style="font-weight:bold;color:green">绿色</span>差异小于10克；
		  <span style="font-weight:bold;color:#F85E00">橙色</span>差异10到50克；
		  <span style="font-weight:bold;color:red">红色</span>差异大于50克。
		</fieldset>
	  </p>
	  <p id="cart" style="font-family:monospace;font-size:large"></p>
	  <p id="fin" style="text-align:center;margin-top:2rem">
		<button onclick="doneInvChk()" class="btn btn-success">&nbsp;结束盘点&nbsp;</button>
	  </p>	  
	  <p id="finfo" class="mb-0 text-muted" style="font-size:small"></p>
	</div>
  </div>  
</div>
<div class="modal fade" id="cfmdone" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
  	<div class="modal-content">
  	  <div class="modal-header">
  		<h5 class="modal-title">请确认</h5>
  		<button type="button" class="close" data-dismiss="modal">&times;</button>
  	  </div>
  	  <div class="modal-body">
  		<p>盘点过的药材的库存数量将按实际情况修改，未盘点过的药材库存数量不变。</p>
  		<div class="modal-footer" style="padding-right:0;padding-bottom:0">
  		  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
  		  <button type="button" class="btn btn-success" data-dismiss="modal">结束</button>
  		</div>
  	  </div>
  	</div>
  </div>
</div>
<script>
var arg = {{.}}
function editItem(gid) {
	$('#choice').css('display', 'none')
	$('#editem #gid').val(gid)
    $('#editem').modal('show')
}
function pick(ti, ii) {
  var t = $('body').data("rx_items")[ti]
  var ps = t.items[ii].name
  if (t.weight != null) ps += `${t.weight}`
  if (t.memo != '') ps += `(${t.memo})`
  if (t.rack != '') ps += `:${t.rack} `
  var g = $('#goods')
  g.val(`${g.val()} ${ps}`)
  if (!$('body').data('multi_rx'))
    addGoods() //当只有一个选项时，直接提交
}
function addGoods() {
  var item = $('#goods').val().trim()
  if (item.length == 0) return
  $('#goods').val('')
  $('#choice').empty()
  var id = $('#bid').val()
  $.post(`/invchk/item/${id}`, {item:item}, function(e) {
	if (e.length > 0) {
		$('body').data("rx_items", e)
		var rxCnt = 0
		$.each(e, function(ti, it) {
			if (it.items != null && it.items.length > 0) {
  	            var choice = `<p><span style="color:red">${it.term}</span> 是指`
  	            $.each(it.items, function(i, t) {
  	              choice += ` &nbsp;<a onclick="pick(${ti}, ${i})" href="#">${t.name}</a>&nbsp; `
  	              if(i < it.items.length-1) choice += '还是'
  	            })
  	            choice += '?'
  	            $('#choice').append(choice)
				rxCnt++					
			} else {
				$('#choice').append(`<p><span style='color:red'>${it.term}</span> 没有找到</p>`)
			}
		})
		$('body').data("multi_rx", rxCnt > 1)
	}
    getBillInfo()
    if ($('#choice').is(':empty')) {
      $('#choice').css('display', 'none')
    } else { 
      $('#choice').css('display', '')
    }			  
  })
}
function getBillInfo() {
  var bid = $('#bid').val()
  $('#act').attr("disabled", false)
  $('#goods').attr("disabled", false)
  $('#memo').attr("disabled", false)
  $('#fin').css("display", "")
  $('#cart').empty()
  $('#finfo').text('')
  $.get(`/api/get/${bid}?order=1`, function(e) {
	if (e.items == null) e.items = []
	$('#memo').val(e.bill.memo)
	if (e.bill.status > 0) {
      $('#act').attr("disabled", true)
      $('#goods').attr("disabled", true)
      $('#memo').attr("disabled", true)
	  $('#fin').css("display", "none")
	  var upd = new Date(e.bill.changed * 1000)
	  $('#finfo').text(`结束时间：${upd.toLocaleString()}`)
	}
	$('#creator').val(e.user)
	$.each(e.items, function(_, it) {
	  var clr = "black"
	  var cnt = `${it.request}克`
	  if (it.flag > 0) {
		var diff = Math.abs(it.request - it.confirm)
		if (diff < 10)
		  clr = "green"
		else if (diff <= 50)
		  clr = "#F85E00"
		else
		  clr = "red"
		cnt = `${it.confirm}/${it.request}克`
	  }
	  var rack = it.rack ? `[${it.rack}]` : ""
	  $('#cart').append(`<span style="color:${clr};font-family:monospace">
	    ${rack}${it.gname} ${cnt}</span> &nbsp;`)
	})
  })
}
function submitMemo() {
  var id = $('#bid').val()
  var memo = $('#memo').val()
  $.post(`/chkin/memo/${id}`, {memo: memo}, function(e) {
	$('#memo').attr('old', memo)
  })
  $('#chgm').remove()
}
function setInvChkDone() {
	var bid = $('#bid').val()
	$.post(`/api/set/${bid}`, { key: "setinv" }, function(e) {
		getBillInfo()
	})
}
function doneInvChk() {
  $('#cfmdone').modal('show')
}
$(document).ready(function () {
  $('#uid').val(arg.user.id)
  $('#bid').val(Math.abs(arg.bill))
  getBillInfo()
  $('#goods').on('keypress', function (e) {
    if (e.which === 13) addGoods()
  })
  $('#memo').focus(function(e) {
      $('#memo').attr('old', $('#memo').val().trim())
  })
  $('#memo').keyup(function(e) {
	var old = $('#memo').attr('old')
	var txt = $('#memo').val().trim()
	$('#chgm').remove()
	if (e.which === 27) {
		$('#memo').val($('#memo').attr('old'))
		return
	}
	if (old == txt) return
	var btn = `<div class="input-group-append" id="chgm"><button onclick="submitMemo()"
        class="btn btn-outline-success border-left-0 border"type="button"><i
        class="fas fa-check"></i></button></div>`
    $('#igmm').append(btn)        
  })
  $('#cfmdone').on('hide.bs.modal', function(e) {
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success"))
		setInvChkDone()
  })
})
</script>
{{template "footer"}} {{end}}