{{define "body"}} {{template "header"}}
<style>
.rx h1 {font-size:24px;font-weight:bold;margin:20 0 25 0}
.rx h2 {font-size:22px;font-weight:bold;margin:15 0 20 0}
.rx h3 {font-size:20px;font-weight:bold;margin:15 0 20 0}
.rx h4 {font-size:18px;font-weight:bold;margin:10 0 15 0}
.rx h5 {font-size:16px;font-weight:bold;margin:10 0 15 0}
.rx h6 {font-size:14px;font-weight:bold;margin:10 0 15 0}
.rx p {font-size:14px;margin:10 0 15 0}
.rx li {font-size:14px;padding-bottom:0.4rem}
.rx table {width:100%;margin-bottom:1rem;color:#212529;border-collapse:collapse}
.rx table th{font-size:14px;padding:.6rem;border-top:1px solid #dee2e6}
.rx table td{font-size:14px;padding:.6rem;border-top:1px solid #dee2e6}
.rx ol,.md ul {padding-inline-start:16px}    
</style>
<div class="container rx" style="padding-top:1rem">
<input type="hidden" id="bid" value="{{.}}" />
<h1 style="text-align:center;letter-spacing:9px">中药处方</h1>
<table>
<tr><th>患者：<span id="user"></span></th><th style="text-align:right">日期：<span id="created"></span></th></tr>
<tr><td colspan=2 style="line-height:2rem" id="items">
<nobr>生山药60</nobr>&nbsp;
<nobr>肉桂9（后下）</nobr>&nbsp;
<nobr>生山楂9</nobr>&nbsp;
<nobr>神曲9</nobr>&nbsp;
<nobr>生甘草30</nobr>&nbsp;
<nobr>杜仲15</nobr>&nbsp;
<nobr>酸枣仁15</nobr>&nbsp;
<nobr>北沙参15</nobr>&nbsp;
<nobr>麦冬30</nobr>&nbsp;
<nobr>玄参12</nobr>&nbsp;
<nobr>当归12</nobr>&nbsp;
<nobr>茯苓12</nobr>&nbsp;
<nobr>丹皮12</nobr>&nbsp;
<nobr>山茱萸15</nobr>&nbsp;
<nobr>熟地24</nobr>&nbsp;
</td></tr>
<tr><td colspan=2 style="text-align:right;font-weight:bold"><span id="sets"></span>&nbsp;剂</td></tr>
</table>
<h5>注意事项：</h5>
<ol>
  <li id="selfprep"><b>请勿忘记添加自备药材！</b></li>  
  <li>请使用砂锅煎药，勿使用金属器皿。</li>
  <li>一份药材需煎煮两次。头煎一碗半的水煎成八分，二煎一碗水煎成五分。建议第一次煎煮前先浸泡药材30-60分钟。</li>
  <li>两次煎煮的药汁混合一下，大约500-600ml，分成两份喝，每天早晚饭后半小时服药。</li>
  <li id="先煎" style="display:none">标注<b>先煎</b>的请先煎半小时再放其他药材一起煮（一般为矿物质类、如生石膏、生牡蛎、石决明、灵磁石，或者骨头类、如龟板、鳖甲、龙骨、龙齿）。</li>
  <li id="后下" style="display:none">标注<b>后下</b>的请在出锅前5-10分钟放入，搅拌一下（一般为含挥发油一类，如肉桂、薄荷、砂仁）。</li>
  <li id="包煎" style="display:none">标注<b>包煎</b>的请连包装袋一起放入药锅煎煮（一般为细小轻浮的药材、如海金沙，或者是有细毛会刺激喉咙的药材、如辛夷、枇杷叶）。</li>
</ol>    
</div>
<script>
$(function() {
  var bid = $('#bid').val()
  $.get(`/api/get/${bid}?order=2`, function (e) {
    $('#user').text(e.user)
    var t = new Date(e.bill.created)
    $('#created').text(`${t.getFullYear()}年${t.getMonth()+1}月${t.getDate()}日`)
    var items = []
    var selfprep = false
    $.each(e.items, function(_, it) {
      var caption = `${it.gname}${it.request}`
      if (it.memo) {
        caption = `${caption}&nbsp;(${it.memo})`
        $(`#${it.memo}`).css("display", "")
      }
      if (it.flag) {
        caption = `<b>[自备]</b>&nbsp;${caption}`
        selfprep = true
      }
      items.push(`<nobr>${caption}</nobr> &nbsp; `)
    })
    $('#items').html(items.join("\n"))
    $('#selfprep').css("display", selfprep ? "" : "none")
    $('#sets').text(e.bill.sets)
  })
})
</script>
{{template "footer"}} {{end}}