{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">药材管理</a>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="/"><i class="fas fa-chevron-circle-left"></i></a>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1rem">
  <div class="accordion" id="goodsMgmt">
    <div class="card">
	  <div class="card-header" style="padding-left:0" id="hchk">
		  <h2 class="mb-0">
			<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#cchk">
			  通过拼音查询（看单价/库存）
			</button>
		  </h2>
	  </div>
	  <div id="cchk" class="collapse show" data-parent="#goodsMgmt">
		  <div class="card-body">
			<div class="input-group mb-2 mr-sm-2">
			  <input type="text" class="form-control" id="pinyins" />
			  <div class="input-group-append">
				<div class="input-group-text">
				  <i id="find" style="cursor:pointer" onclick="doFind()" class="fas fa-search"></i>
				</div>
			  </div>
			</div>
			<small class="form-text text-muted">输入药材拼音首字母，多个用空格隔开</small>
			<div id="view">
			  <p style="margin-top:1rem;color:#555555">请在上方搜索框中输入需要查看的药材名称拼音首字母
				（允许部分匹配），系统会返回匹配药材的库存和单价信息。</p> 
			</div>
		  </div>
	  </div>
	</div>
	<div class="card">
      <div class="card-header" style="padding-left:0" id="hadd">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#cadd">
            通过名称查询（可添加/编辑）
          </button>
        </h2>
      </div>
      <div id="cadd" class="collapse" data-parent="#goodsMgmt">
        <div class="card-body">
          <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" id="terms" />
            <div class="input-group-append">
              <div class="input-group-text">
                <i id="search" style="cursor:pointer" onclick="doSearch()" class="fas fa-search"></i>
              </div>
            </div>
          </div>
          <small class="form-text text-muted">输入药材名称，多个用空格隔开</small>
          <div id="list">
            <p style="margin-top:1rem;color:#555555">请在上方搜索框中输入需要添加、编辑的药材名称。
              系统将检查输入的品名是否已经存在，并让您添加不存在的药材。</p>
            <p style="margin-top:1rem;color:#555555">目前共有<span style="color:red;font-weight:bold">
              {{.Total}} </span>种药材（直接点击搜索按钮可查看全部）。</p>    
          </div>          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" style="padding-left:0" id="hinv">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#cinv">
            进货规划
          </button>
        </h2>
      </div>
      <div id="cinv" class="collapse" data-parent="#goodsMgmt">
        <div class="card-body">
          <div id="wait" style="width:100%;text-align:center">
            <div class="spinner-border text-success" role="status"></div>
          </div>
          <div id="plan" style="display:none">
            <p style="margin-top:1rem;font-weight:bold"><u>建议采购下列药材</u></p> 
            <div id="suggest" style="line-height:1.7em"></div>
            <div style="text-align:center;margin:1em">
              <button id="act" class="btn btn-success" onclick="createOrder()">创建采购单</button>
            </div>
            <p style="margin-top:1em;color:#444444;font-size:small">
              <span class="fas fa-info-circle"></span> 创建后可以在入库单界面进行增删改
            </p>
          </div>
          <p id="nosuggest" style="color:darkgrey;margin-top:1rem;font-weight:bold">目前暂无推荐采购的药材</p> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edsku" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">编辑药材定义</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col">
            <label for="name">品名</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group col">
            <label for="pinyin">拼音索引</label>
            <input type="text" class="form-control" id="pinyin">
            <small class="form-text text-muted">清除该索引可以让系统自动生成</small>
          </div>  
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="name">存放位置（货架）</label>
            <input type="text" class="form-control" id="rack">
          </div>
          <div class="form-group col">
            <label for="name">库存（克）</label>
            <div class="form-text"><span id="stock"></span> (<span id="cost"></span>元/克)</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="name">批量（克）</label>
            <input type="text" class="form-control" id="batch">
            <small class="form-text text-muted">设为0表示不建议采购</small>
          </div>
          <div class="form-group col"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">修改</button>        
      </div>
    </div>
  </div>
</div>
<script>
function editSku(sku) {
  var sku = $(sku)
  $('#edsku #gid').val(sku.attr('id'))
  $('#edsku').modal('show')
}
function createOrder() {
  var act = $('#act')
	act.html(`<span class="spinner-border spinner-border-sm" role="status"></span>&nbsp;稍等...`)
  $.get(`/api/invstat?act=1`, function(e) {
    window.location.href = `/chkin/${e.id}`
  })
}
function submitSku(sku) {
  var data = new Array()
  var sku = $(sku)
  if (sku.attr('id') == 'addall') {
    $.each($('.newsku'), function(_, n) {
      n = $(n)
      if (n.css('pointer-events') != 'none') {
        data.push({'name': n.text()})
      }
    })
  } else {
    data.push({'name': sku.text()})
  }
  $.post("/api/sku/", JSON.stringify(data), function(e) {
    if (sku.attr('id') == 'addall') {
      $.each($('.newsku'), function(_, n) {
        n = $(n)
        n.css("pointer-events", "none")
        n.css("color", "#888888")
      })
    } else {
      sku.css("pointer-events", "none")
      sku.css("color", "#888888")
    }
  })
}
function doFind() {
  $('#pinyins').attr("disabled", "disabled")
  $('#find').attr("disabled", "disabled")
  var pinyins = $('#pinyins').val().trim()
  $.get("/api/goods", {py: pinyins}, function(e) {
    $('#pinyins').removeAttr("disabled")
    $('#find').removeAttr("disabled")
    $('#view').empty()
    if (e == null || e.length == 0) {
      $('#view').html(`<p style="margin-top:1rem;color:red">没有找到匹配的药材</p>`)
      return
    }
    var tbl = `<table style="margin-top:1rem" class="table table-striped table-hover">
        <thead class="thead-light"><tr>
          <th>药材</th>
          <th>成本</th>
          <th>库存</th>
        </tr></thead><tbody>`
    $.each(e, function(_, g) {
      var name = g.rack ? `${g.name}[${g.rack}]` : g.name
      tbl += `
          <tr style="cursor:pointer">
            <td><a href="#" id="${g.id}" onclick="editSku(this)">${name}</a></td>
            <td>${g.cost}</td>
            <td>${g.stock}</td>
          </tr>`
    })
    tbl += `</tbody></table>`
    $('#view').html(tbl)
  })
}
function doSearch() {
  $('#terms').attr("disabled", "disabled")
  $('#search').attr("disabled", "disabled")            
  var terms = $('#terms').val().trim()
  $.get("/api/sku", {terms: terms}, function(e) {
    $('#terms').removeAttr("disabled")
    $('#search').removeAttr("disabled")
    $('#list').empty()
    if (e.found != null && e.found.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">${e.found.length}</span> 个药材</p>`)
      $.each(e.found, function(_, h) {
        $('#list').append(`<a onclick="editSku(this)" href="#" id="${h.id}" style="line-height:1.75rem;font-weight:bold">${h.name[0]}</a>&nbsp; &nbsp;`)
      })
      $('#list').append(`<p style="margin:1rem 0 1rem 0">您可点击上面的品名进行编辑</p>`)
    } else if (terms.length == 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">0</span> 个药材</p>`)
    }
    if (e.missing != null && e.missing.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">未找到 <span style="color:red">${e.missing.length}</span> 个药材</p>`)
      $.each(e.missing, function(_, h) {
        $('#list').append(`<a class="newsku" href="#" onclick="submitSku(this)" style="line-height:1.75rem;font-weight:bold">${h.name[0]}</a>&nbsp; &nbsp;`)
      })
      $('#list').append(`<p style="margin:1rem 0 1rem 0">您可以将它们 <a style="font-weight:bold" href="#"
        id="addall" onclick="submitSku(this)">全部添加</a> 到药材定义，或者点击上面的品名逐一添加。</p>`)
    }
    if (e.match != null && e.match.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">${e.match.length}</span> 个部分匹配条目</p>`)
      $.each(e.match, function(_, h) {
        var cap = ""
        $.each(h.name, function(_, s) {
          cap += (s[0] == '*') ? `<span style="color:red">${s.substr(1)}</span>` : s 
        })
        $('#list').append(`<a onclick="editSku(this)" id="${h.id}" href="#" style="line-height:1.75rem;font-weight:bold">${cap}</a>&nbsp; &nbsp;`)
      })
    }
  })
}    
$(document).ready(function () {
  $('#terms').on('keypress', function (e) {
    if (e.which === 13) doSearch()
  })
  $('#pinyins').on('keypress', function (e) {
    if (e.which === 13) doFind()
  })
  $('#edsku').on('show.bs.modal', function (e) {
    var id = $('#edsku #gid').val()
    $.get(`/api/sku/${id}`, function(e) {
      $('#edsku #name').val(e.name)
      $('#edsku #pinyin').val(e.pinyin)
      $('#edsku #batch').val(e.batch)
      $('#edsku #stock').text(e.stock)
      $('#edsku #cost').text(e.cost)
      $('#edsku #rack').val(e.rack)
    })
  })
  $('#edsku').on('hide.bs.modal', function (e) {
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success")) {
      var id = parseInt($('#edsku #gid').val(), 10) 
      var name = $('#edsku #name').val()
      var pinyin = $('#edsku #pinyin').val()
      var batch =  parseInt($('#edsku #batch').val(), 10)
      var rack = $('#edsku #rack').val()
      var data = new Array()
      data.push({id:id, name: name, pinyin: pinyin, batch: batch, rack: rack})
      $.post("/api/sku/", JSON.stringify(data), function(e) {
        toast("操作成功", "药材信息已保存", "success")
        $(`#${id}`).text(name)
      })
    }
  })
  $('#cadd').on('shown.bs.collapse', function() {
    $('#terms').focus()
    $('#terms').select()
  })
  $('#cchk').on('shown.bs.collapse', function() {
    $('#pinyins').focus()
    $('#pinyins').select()
  })
  $('#cinv').on('shown.bs.collapse', function() {
    $.get("/api/invstat", function(e) {
      $('#wait').css("display", "none")
      $('#nosuggest').css("display", "")
      var sdiv = $('#suggest')
      sdiv.text('')
      if (typeof(e.suggest) == 'undefined' ||
         e.suggest == null || e.suggest.length == 0)
         return
      $('#nosuggest').css("display", "none")
      $.each(e.suggest, function(_, s) {
        sdiv.append(`${s.name} ${s.amount}克&nbsp; &nbsp;`)
      })
      $('#plan').css("display", "")
    })
  })
  $('#terms').focus()
})
</script>
{{template "footer"}} {{end}}