{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">货品管理</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/"><i class="fas fa-home"></i>&nbsp;返回主菜单</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1rem">
  <div class="input-group mb-2 mr-sm-2">
    <input type="text" class="form-control" id="terms" />
    <div class="input-group-append">
      <div class="input-group-text">
        <i id="search" style="cursor:pointer" onclick="doSearch()" class="fas fa-search"></i>
      </div>
    </div>
  </div>
  <small class="form-text text-muted">输入货品名称，多个用空格隔开。</small>
  <div id="list">
    <p style="margin-top:1rem;color:#555555">目前共有 <span style="color:red;font-weight:bold">{{.Total}}</span>
        种库存单元。请在上方搜索框中输入需要添加、编辑的货品名称。</p>    
  </div>
</div>
<script>
function submitSku(sku) {
  var sku = $(sku)
  var data = new Array()
  data.push({'name': sku.text()})
  $.post("/api/sku/", JSON.stringify(data), function(e) {
    sku.css("pointer-events", "none")
    sku.css("color", "#888888")
  })
}
function doSearch() {
  $('#terms').attr("disabled", "disabled")
  $('#search').attr("disabled", "disabled")            
  var terms = $('#terms').val()
  $.get("/api/sku", {terms: terms}, function(e) {
    $('#terms').removeAttr("disabled")
    $('#search').removeAttr("disabled")
    $('#list').empty()
    if (e.found != null && e.found.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">${e.found.length}</span> 个货品</p>`)
      $.each(e.found, function(_, h) {
        $('#list').append(`<a href="#" style="line-height:1.75rem;font-weight:bold">${h.name[0]}</a>&nbsp; &nbsp;`)
      })
    }
    if (e.missing != null && e.missing.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">未找到 <span style="color:red">${e.missing.length}</span> 个货品</p>`)
      $.each(e.missing, function(_, h) {
        $('#list').append(`<a href="#" onclick="submitSku(this)" style="line-height:1.75rem;font-weight:bold">${h.name[0]}</a>&nbsp; &nbsp;`)
      })
    }
    if (e.match != null && e.match.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">${e.match.length}</span> 个部分匹配条目</p>`)
      $.each(e.match, function(_, h) {
        var cap = ""
        $.each(h.name, function(_, s) {
          cap += (s[0] == '*') ? `<span style="color:red">${s.substr(1)}</span>` : s 
        })
        $('#list').append(`<a href="#" style="line-height:1.75rem;font-weight:bold">${cap}</a>&nbsp; &nbsp;`)
      })
    }
  })
}    
$(document).ready(function () {
  $('#terms').on('keypress', function (e) {
    if (e.which === 13) doSearch()
   });  
})
</script>
{{template "footer"}} {{end}}