{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">货品管理</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/"><i class="fas fa-home"></i>&nbsp;返回主菜单</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1rem">
  <div class="input-group mb-2 mr-sm-2">
    <input type="text" class="form-control" id="terms" />
    <div class="input-group-append">
      <div class="input-group-text">
        <i id="search" style="cursor:pointer" onclick="doSearch()" class="fas fa-search"></i>
      </div>
    </div>
  </div>
  <small class="form-text text-muted">输入货品名称，多个用空格隔开。</small>
  <div id="list">
    <p style="margin-top:1rem;color:#555555">请在上方搜索框中输入需要添加、编辑的药材名称。
      系统将检查输入的品名是否已经存在，并让您添加不存在的药材。</p>
    <p style="margin-top:1rem;color:#555555">目前共有<span style="color:red;font-weight:bold">
      {{.Total}} </span>种货品（直接点击搜索按钮可查看全部）。</p>    
  </div>
</div>
<div class="modal fade" id="edsku" tabindex="-1" role="dialog">
  <input type=hidden id="gid" />
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">编辑货品定义</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">品名</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="pinyin">拼音索引</label>
          <input type="text" class="form-control" id="pinyin">
          <small class="form-text text-muted">清除该索引可以让系统自动生成</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">修改</button>        
      </div>
    </div>
  </div>
</div>
<script>
function editSku(sku) {
  var sku = $(sku)
  $('#edsku #gid').val(sku.attr('id'))
  $('#edsku').modal('show')
}
function submitSku(sku) {
  var data = new Array()
  var sku = $(sku)
  if (sku.attr('id') == 'addall') {
    $.each($('.newsku'), function(_, n) {
      n = $(n)
      if (n.css('pointer-events') != 'none') {
        data.push({'name': n.text()})
      }
    })
  } else {
    data.push({'name': sku.text()})
  }
  $.post("/api/sku/", JSON.stringify(data), function(e) {
    if (sku.attr('id') == 'addall') {
      $.each($('.newsku'), function(_, n) {
        n = $(n)
        n.css("pointer-events", "none")
        n.css("color", "#888888")
      })
    } else {
      sku.css("pointer-events", "none")
      sku.css("color", "#888888")
    }
  })
}
function doSearch() {
  $('#terms').attr("disabled", "disabled")
  $('#search').attr("disabled", "disabled")            
  var terms = $('#terms').val().trim()
  $.get("/api/sku", {terms: terms}, function(e) {
    $('#terms').removeAttr("disabled")
    $('#search').removeAttr("disabled")
    $('#list').empty()
    if (e.found != null && e.found.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">${e.found.length}</span> 个货品</p>`)
      $.each(e.found, function(_, h) {
        $('#list').append(`<a onclick="editSku(this)" href="#" id="${h.id}" style="line-height:1.75rem;font-weight:bold">${h.name[0]}</a>&nbsp; &nbsp;`)
      })
      $('#list').append(`<p style="margin:1rem 0 1rem 0">您可点击上面的品名进行编辑（更改其名称或拼音索引）</p>`)
    } else if (terms.length == 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">0</span> 个货品</p>`)
    }
    if (e.missing != null && e.missing.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">未找到 <span style="color:red">${e.missing.length}</span> 个货品</p>`)
      $.each(e.missing, function(_, h) {
        $('#list').append(`<a class="newsku" href="#" onclick="submitSku(this)" style="line-height:1.75rem;font-weight:bold">${h.name[0]}</a>&nbsp; &nbsp;`)
      })
      $('#list').append(`<p style="margin:1rem 0 1rem 0">您可以将它们 <a style="font-weight:bold" href="#"
        id="addall" onclick="submitSku(this)">全部添加</a> 到货品定义，或者点击上面的品名逐一添加。</p>`)
    }
    if (e.match != null && e.match.length > 0) {
      $('#list').append(`<p style="margin:1rem 0 1rem 0;font-weight:bold">找到 <span style="color:red">${e.match.length}</span> 个部分匹配条目</p>`)
      $.each(e.match, function(_, h) {
        var cap = ""
        $.each(h.name, function(_, s) {
          cap += (s[0] == '*') ? `<span style="color:red">${s.substr(1)}</span>` : s 
        })
        $('#list').append(`<a onclick="editSku(this)" id="${h.id}" href="#" style="line-height:1.75rem;font-weight:bold">${cap}</a>&nbsp; &nbsp;`)
      })
    }
  })
}    
$(document).ready(function () {
  $('#terms').on('keypress', function (e) {
    if (e.which === 13) doSearch()
  })
  $('#edsku').on('show.bs.modal', function (e) {
    var id = $('#edsku #gid').val()
    $.get(`/api/sku/${id}`, function(e) {
      $('#edsku #name').val(e.name)
      $('#edsku #pinyin').val(e.pinyin)
    })
  })
  $('#edsku').on('hide.bs.modal', function (e) {
    var btn = $(document.activeElement)
    if (btn.hasClass("btn-success")) {
      var id = parseInt($('#edsku #gid').val(), 10) 
      var name = $('#edsku #name').val()
      var pinyin = $('#edsku #pinyin').val()
      var data = new Array()
      data.push({id:id, name: name, pinyin: pinyin})
      $.post("/api/sku/", JSON.stringify(data), function(e) {
        toast("操作成功", "货品信息已保存", "success")
        $(`#${id}`).text(name)
      })
    }
  })
})
</script>
{{template "footer"}} {{end}}