{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">用户管理</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-user"></i>&nbsp;<span id="user"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/users"><i class="fas fa-user-cog"></i>&nbsp;用户管理</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <table id="tbl" class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>姓名</th>
        <th>登录标识</th>
        <th class="op dropdown" style="vertical-align:middle">
          <i class="fas fa-cog dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/users/new">添加用户</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="list"></tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $.get("/api/users", function (e) {
      $('#list').empty()
      $.each(e, function (_, u) {
        var clr = (u.client) ? "gray" : "green"
        $('#list').append(`<tr style="color:${clr}"><td>${u.name}</td><td>${u.login}</td>
           <td class="op dropdown" style="vertical-align:middle" id="${u.id}"></td></tr>`)
      })
      $('#tbl tr').hover(function () {
        var id = $(this).find('.op').attr('id')
        if (typeof (id) != 'undefined')
          $(this).find('.op').html(`
          <i class="fas fa-cog dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">编辑用户信息</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">删除用户</a>
          </div>`)
      }, function () {
        var id = $(this).find('.op').attr('id')
        if (typeof (id) != 'undefined')
          $(this).find('.op').text("")
      })
    })
  })
</script>
{{template "footer"}} {{end}}