{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/imgs/nav_title.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="navbar-brand" href="#">用户管理</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/"><i class="fas fa-home"></i>&nbsp;返回主菜单</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top:1em">
  <table id="tbl" class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>姓名</th>
        <th>登录标识</th>
        <th class="op dropdown" style="vertical-align:middle">
          <i class="fas fa-cog" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/users/new">添加用户</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="list"></tbody>
  </table>
</div>
<div class="modal fade" id="deluser" tabindex="-1" role="dialog">
  <input type=hidden id="uid" />
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">请确认</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>用户删除后无法恢复。另外，若用户存在交易记录则无法删除。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">执行删除</button>
      </div>
    </div>
  </div>
</div>
<script>
  function delUser(id) {
    $('#deluser #uid').val(id)
    $('#deluser').modal('show')
  }
  $(document).ready(function () {
    $.get("/api/users", function (e) {
      $('#list').empty()
      $.each(e, function (_, u) {
        var clr = (u.id == {{.ID}}) ? "red" : ((u.client) ? "gray" : "green")
        $('#list').append(`<tr style="color:${clr}"><td>${u.name}</td><td>${u.login}</td>
           <td class="op dropdown" style="vertical-align:middle" id="${u.id}"></td></tr>`)
      })
      $('#tbl tr').hover(function () {
        var id = $(this).find('.op').attr('id')
        var del = (id == "{{.ID}}" || id == "1") ? "" : `<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:delUser(${id})">删除用户</a>`
        if (typeof (id) != 'undefined')
          $(this).find('.op').html(`
          <i class="fas fa-cog" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/users/${id}">设置用户</a>
            ${del}
          </div>`)
      }, function () {
        var id = $(this).find('.op').attr('id')
        if (typeof (id) != 'undefined')
          $(this).find('.op').text("")
      })
      $('#deluser').on('hide.bs.modal', function (e) {
        var btn = $(document.activeElement)
        if (btn.hasClass("btn-danger")) {
          var id = $('#deluser #uid').val()
          $.ajax({
            url: `/users/${id}`,
            type: 'DELETE',
            complete: function(xhr) {
              if (xhr.status != 200)
                toast("操作失败", xhr.responseText, 'error')
              else
                $.toast({
                  heading: '操作成功',
                  text: '用户已被删除',
                  icon: 'success',
                  position: 'mid-center',
                  loader: false,
                  textAlign: 'left',
                  allowToastClose: false,
                  showHideTransition: 'fade',
                  afterHidden: function () {
                    window.location.reload(true) 
                  }
                })
            }
          })
        }
      })
    })
  })
</script>
{{template "footer"}} {{end}}